{% load i18n static metadata_wrangler %}

{% if box or street or postcode or place_id or country %}
<div class="md-row">
    <dt class="md-label">
        {{label}}
    </dt>
    <dd class="md-value">
        <address>
            {% if box %}
                <p>{{ box.label }} {{ box.text }}</p>
            {% endif %}
            {% if street %}
                <p>{{ street }}</p>
            {% endif %}
            {% if postcode or place_id %}
            <p>
                {{ postcode }}{% if place %} <a href="{% url 'alvin_viewer' 'alvin-place' place_id  %}">{{ place|alvin_title:'alvin-place' }}</a>{% endif %}
            {% endif %}
            </p>
            {% if country %}
                <p>{{ country.item }}</p>
            {% endif %}
        </address>
    </dd>
</div>
{% endif %}