{% load i18n static %}

{% if box or street or postcode or place_id or country %}
<div class="md-row">
    <dt class="md-label">
        {{label}}
    </dt>
    <dd class="md-value">
        <address>
            {% if box %}
                <p>Box {{ box }}</p>
            {% endif %}
            {% if street %}
                <p>{{ street }}</p>
            {% endif %}
            {% if postcode %}
                <p>{{ postcode }}
                    {% if place_id %}
                        <a href="">
                            {{ place_id }}
                        </a>
                    {% endif %}
                {% endif %}
                </p>
            {% if country %}
                <p>{{ country }}</p>
            {% endif %}
        </address>
    </dd>
</div>
{% endif %}