{% load i18n static metadata_wrangler %}

{% block title %}
<title>Alvin - {{ metadata.authority_names.title }}</title>
{% endblock %}

<!-- Metadata -->
<div class="flex flex-col">
    <div  x-show="activeTab === 'overview' || activeTab === 'all_metadata'" x-cloak>
        {% with metadata.authority_names.label as authority_label %}
            {% for lang, name in metadata.authority_names.names.items %}
                {% include "./_metadata_row.html" with label=authority_label extra_label=name.label_lang value=name.display %}
            {% endfor %}
        {% endwith %}
        {% with metadata.variant_names.label as variant_label %}
            {% for lang, name in metadata.variant_names.names.items %}
                {% include "./_metadata_row.html" with label=variant_label extra_label=name.label_lang value=name.display %}
            {% endfor %}
        {% endwith %}
        {% include "./_metadata_row.html" with label=metadata.organisation_info.label value=metadata.organisation_info.dates.display %}
        {% include "./_metadata_row.html" with label=metadata.display_date.label value=metadata.display_date.text %}
    </div>
    <div x-show="activeTab === 'all_metadata'" x-cloak>
        {% include "./_address.html" with label=metadata.address.label place_id=metadata.address.place.id box=metadata.address.box street=metadata.address.street postcode=metadata.address.postcode place=metadata.address.place.name.title country=metadata.address.country %}
    </div>
    <div x-show="activeTab === 'all_metadata' || activeTab === 'related'" x-cloak></div>
        {% for electronic_locator in metadata.electronic_locators %}
            {% include "./_metadata_row.html" with label=electronic_locator.label url=electronic_locator.url value=electronic_locator.display_label %}
        {% endfor %}
    </div>
    <div x-show="activeTab === 'all_metadata'" x-cloak>
        {% for note in metadata.notes.texts %}
            {% include "./_metadata_row.html" with label=note.type value=note.text|linebreaksbr %}
        {% endfor %}
        {% for identifier in metadata.identifiers %}
            {% include "./_metadata_row.html" with label=identifier.label extra_label=identifier.type value=identifier.identifier %}
        {% endfor %}
    </div>
    <div class="flex flex-col" x-show="activeTab === 'all_metadata || activeTab === 'related'" x-cloak>
        {% include "./_record_type_links.html" with label=metadata.related_organisations.label link_type="alvin-organisation" record_type_links=metadata.related_organisations %}
    </div>
    <div x-show="activeTab === 'all_metadata'" x-cloak>
        {% include "./_metadata_row.html" with label=metadata.created.label value=metadata.created.text %}
        {% include "./_metadata_row.html" with label=metadata.last_updated.label value=metadata.last_updated.text %}
        {% include "./_metadata_row.html" with label="Källdata" value=metadata.source_xml %}
    </div>
    <div x-show="activeTab === 'overview' || activeTab === 'all_metadata'" x-cloak>
        {% include "./_metadata_row.html" with label="Id" value=metadata.id %}
    </div>
</div>