{% load i18n static metadata_wrangler %}
<!-- Metadata -->
<div class="flex flex-col">
    <div data-xshow="activeTab === 'overview' || activeTab === 'all_metadata'" data-xcloak>
        {% with metadata.authority_names.label as authority_label %}
            {% for lang, name in metadata.authority_names.names.items %}
                {% include "./_metadata_row.html" with label=authority_label extra_label=name.label_lang value=name|alvin_person_name %}
            {% endfor %}
        {% endwith %}
        {% with metadata.variant_names.label as variant_label %}
            {% for lang, name in metadata.variant_names.names.items %}
                {% with first=name.0|default:name %}
                        {% include "./_metadata_row.html" with label=variant_label extra_label=first.label_lang value=name|alvin_person_name %}
                {% endwith %}
            {% endfor %}
        {% endwith %}
        {% include "./_metadata_row.html" with label=metadata.birth_date.label value=metadata.birth_date|date_join %}
        {% include "./_metadata_row.html" with label=metadata.death_date.label value=metadata.death_date|date_join %}
    </div>
    <div data-xshow="activeTab === 'all_metadata' || activeTab === 'related'" data-xcloak>
        {% url 'alvin_viewer' 'alvin-place' metadata.birth_place.id as birth_place_url %}
        {% include "./_metadata_row.html" with label=metadata.birth_place.label url=birth_place_url value=metadata.birth_place.name|alvin_place_name %}
        {% url 'alvin_viewer' 'alvin-place' metadata.death_place.id as death_place_url %}
        {% include "./_metadata_row.html" with label=metadata.death_place.label url=death_place_url value=metadata.death_place.name|alvin_place_name %}
    </div>
    <div data-xshow="activeTab === 'all_metadata'" data-xcloak>
        {% include "./_metadata_row.html" with label=metadata.nationality.label value=metadata.nationality.country.items|list_join %}
        {% include "./_metadata_row.html" with label=metadata.display_date.label value=metadata.display_date.text %}
        {% include "./_metadata_row.html" with label=metadata.fields_of_endeavor.label value=metadata.fields_of_endeavor.texts|list_join %}
        {% include "./_metadata_row.html" with label=metadata.gender.label value=metadata.gender.item %}
        {% for note in metadata.notes.texts %}
            {% include "./_metadata_row.html" with label=note.type value=note.text|linebreaksbr %}
        {% endfor %}
        {% for identifier in metadata.identifiers %}
            {% include "./_metadata_row.html" with label=identifier.label extra_label=identifier.type value=identifier.identifier %}
        {% endfor %}
    </div>
    <div class="flex flex-col" data-xshow="activeTab === 'all_metadata' || activeTab === 'related'" data-xcloak>
        {% for electronic_locator in metadata.electronic_locators %}
            {% include "./_metadata_row.html" with label=electronic_locator.label url=electronic_locator.url value=electronic_locator.display_label %}
        {% endfor %}
        {% include "./_record_type_links.html" with label=metadata.related_persons.label link_type="alvin-person" record_type_links=metadata.related_persons %}
        {% include "./_record_type_links.html" with label=metadata.related_organisations.label link_type="alvin-organisation" record_type_links=metadata.related_organisations %}
    </div>
    <div data-xshow="activeTab === 'all_metadata'" data-xcloak>
        {% include "./_metadata_row.html" with label=metadata.created.label value=metadata.created.text %}
        {% include "./_metadata_row.html" with label=metadata.last_updated.label value=metadata.last_updated.text %}
    </div>
</div>