{% load i18n static %}

<!-- Metadata -->
<div class="flex flex-col gap-y-4 w-full max-w-4xl mx-auto leading-[1.5]" data-xdata="{ open_inventory: false, open_related: false }">
    <section class="mt-4" aria-labelledby="summary-heading">
        {% if metadata.summary %}
        <h2 id="summary-heading" class="sr-only">{{metadata.summary.label}}</h2>
        <p class="text-lg">{{metadata.summary.text|linebreaksbr}}</p>
        {% endif %}
        {% if metadata.subjects %}
        <div class="flex flex-col my-5 dark:text-gray-200">
            <div class="flex gap-x-1 mb-2">
                <svg aria-hidden="true" focusable="false" class="size-6" stroke-width="2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor">
                    <path d="M3 17.4V6.6C3 6.26863 3.26863 6 3.6 6H16.6789C16.8795 6 17.0668 6.10026 17.1781 6.26718L20.7781 11.6672C20.9125 11.8687 20.9125 12.1313 20.7781 12.3328L17.1781 17.7328C17.0668 17.8997 16.8795 18 16.6789 18H3.6C3.26863 18 3 17.7314 3 17.4Z" stroke="currentColor" stroke-width="2"></path>
                </svg>
                <h2 class="text-md font-bold" id="subject-words-heading">{{metadata.subjects.label}}</h2>
            </div>
            <ul class="flex gap-x-2 gap-y-2 flex-wrap list-none" aria-labelledby="subject-words-heading">
            {% for subject_group in metadata.subjects.entries %}
                {% for subject in subject_group.collect_subjects %}
                <li class="dark:border dark:border-white/5 bg-gray-200 dark:bg-white/10 dark:text-off-white hover:bg-light-alvin hover:text-dark-alvin shadow-sm px-4 py-2 rounded-md cursor-pointer">{{subject}}</li>
                {% endfor %}
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    </section>

    {% if has_all_metadata %}
    <dl id="allmetadata" class="py-2 px-4 mb-6 dark:border-white/10 bg-gray-100 dark:bg-white/15 shadow-sm rounded-xl" data-xshow="activeTab === 'all_metadata'" data-xcloak>
        {% include "./_metadata_row_variant_title.html" %}
        {% include "./_metadata_row.html" with label=metadata.sublocation.label value=metadata.sublocation.text %}
        {% include "./_metadata_row.html" with label=metadata.shelf_mark.label value=metadata.shelf_mark.text %}
        {% include "./_metadata_row.html" with label=metadata.former_shelf_mark.label value=metadata.former_shelf_mark.texts|join:"<br>" %}
        {% include "./_metadata_row.html" with label=metadata.subcollection.label value=metadata.subcollection.items|join:"<br>" %}
        {% include "./_metadata_row.html" with label=metadata.physical_location_note.combined_label value=metadata.physical_location_note.text|linebreaksbr %}
        {% include "./_metadata_row.html" with label=metadata.edition_statement.label value=metadata.edition_statement.text %}
        {% include "./_metadata_row.html" with label=metadata.publications.label value=metadata.publications.texts|join:"<br>" %}
        {% for date in metadata.date_other %}
            {% include "./_metadata_row.html" with label=date.dates.type value=date.dates.display|linebreaksbr %}
        {% endfor %}
        {% include "./_metadata_row.html" with label=metadata.languages.label value=metadata.languages.items|join:"<br>"|safe %}
        {% include "./_metadata_row.html" with label=metadata.description_languages.label value=metadata.description_languages.items|join:"<br>"|safe %}
        {% include "./_metadata_row.html" with label=metadata.base_material.label value=metadata.base_material.display %}
        {% include "./_metadata_row.html" with label=metadata.applied_material.label value=metadata.applied_material.display %}
        {% include "./_metadata_row.html" with label=metadata.shelf_metres.label value=metadata.shelf_metres.text %}
        {% include "./_metadata_row.html" with label=metadata.archival_units.label value=metadata.archival_units.text %}
        {% include "./_metadata_row.html" with label=metadata.extent.label value=metadata.extent.text|linebreaksbr %}
        {% include "./_metadata_row.html" with label=metadata.locus.label value=metadata.locus.text %}
        {% for dimension in metadata.dimensions %}
            {% include "./_metadata_row.html" with label=dimension.combined_label value=dimension.display %}
        {% endfor %}
        {% include "./_metadata_row.html" with label=metadata.measure.label value=metadata.measure.display %}
        {% for note in metadata.physical_description_notes.texts %}
            {% include "./_metadata_row.html" with label=note.type value=note.text|linebreaksbr %}
        {% endfor %}
        {% include "./_metadata_row.html" with label=metadata.deco_note.combined_label value=metadata.binding.text|linebreaksbr %}
        {% include "./_metadata_row.html" with label=metadata.binding.combined_label value=metadata.binding.text|linebreaksbr %}
        {% include "./_metadata_row.html" with label=metadata.binding_deco_note.combined_label value=metadata.binding_deco_note.text|linebreaksbr %}
        {% include "./_metadata_row.html" with label=metadata.level.label value=metadata.level.item %}
        {% include "./_metadata_row.html" with label=metadata.other_findaid.label value=metadata.other_findaid.texts|join:"<br>" %}
        {% include "./_metadata_row.html" with label=metadata.weeding.label value=metadata.weeding.texts|join:"<br>" %}
        {% include "./_metadata_row.html" with label=metadata.related_material.label value=metadata.related_material.texts|join:"<br>" %}
        {% include "./_metadata_row.html" with label=metadata.arrangement.label value=metadata.arrangement.texts|join:"<br>" %}
        {% include "./_metadata_row.html" with label=metadata.accruals.label value=metadata.accruals.texts|join:"<br>" %}
        {% include "./_metadata_row.html" with label=metadata.incipit.label value=metadata.incipit.text %}
        {% include "./_metadata_row.html" with label=metadata.explicit.label value=metadata.explicit.text %}
        {% include "./_metadata_row.html" with label=metadata.rubric.label value=metadata.rubric.text %}
        {% include "./_metadata_row.html" with label=metadata.final_rubric.label value=metadata.final_rubric.text %}
        {% include "./_metadata_row.html" with label=metadata.music_key.label value=metadata.music_key.items|join:"<br>" %}
        {% include "./_metadata_row.html" with label=metadata.music_key_other.label value=metadata.music_key_other.text %}
        {% include "./_metadata_row.html" with label=metadata.music_medium.label value=metadata.music_medium.items|join:"<br>" %}
        {% include "./_metadata_row.html" with label=metadata.music_medium_other.label value=metadata.music_medium_other.text %}
        {% include "./_metadata_row.html" with label=metadata.music_notation.label value=metadata.music_notation.items|join:"<br>" %}
        {% include "./_metadata_row.html" with label=metadata.scale.label value=metadata.scale.text %}
        {% include "./_metadata_row.html" with label=metadata.projection.label value=metadata.projection.text %}
        {% include "./_metadata_row.html" with label=metadata.coordinates.label value=metadata.coordinates.text %}
        {% include "./_metadata_row.html" with label=metadata.appraisal.label value=metadata.appraisal.display %}
        {% include "./_metadata_row.html" with label=metadata.edge.label value=metadata.edge.display %}
        {% include "./_metadata_row.html" with label=metadata.axis.label value=metadata.axis.clock.item %}
        {% include "./_metadata_row.html" with label=metadata.conservation_state.label value=metadata.conservation_state.items|join:"<br>" %}
        {% include "./_metadata_row.html" with label=metadata.obverse.description_label value=metadata.obverse.description.text %}
        {% include "./_metadata_row.html" with label=metadata.obverse.legend_label value=metadata.obverse.legend.text %}
        {% include "./_metadata_row.html" with label=metadata.reverse.description_label value=metadata.reverse.description.text %}
        {% include "./_metadata_row.html" with label=metadata.reverse.legend_label value=metadata.reverse.legend.text %}
        {% include "./_metadata_row.html" with label=metadata.countermark.label value=metadata.countermark.texts|join:"<br>" %}
        {% for note in metadata.notes.texts %}
            {% include "./_metadata_row.html" with label=note.type value=note.text|linebreaksbr %}
        {% endfor %}
        {% include "./_metadata_row.html" with label=metadata.transcription.label value=metadata.transcription.text|linebreaksbr %}
        {% include "./_metadata_row.html" with label=metadata.table_of_contents.label value=metadata.table_of_contents.text|linebreaksbr %}
        {% include "./_metadata_row.html" with label=metadata.literature.label value=metadata.literature.text|linebreaksbr %}
        {% include "./_metadata_row.html" with label=metadata.access_policy.label value=metadata.access_policy.text|linebreaksbr %}
        {% include "./_metadata_row.html" with label=metadata.genre_form.label value=metadata.genre_form.items|join:"<br>"|safe %}
        {% for subject in metadata.subjects.entries %}
            {% include "./_metadata_row.html" with label=subject.label extra_label=subject.authority value=subject.display %}
        {% endfor %}
        {% for classification in metadata.classifications %}
            {% include "./_metadata_row.html" with label=classification.label extra_label=classification.type value=classification.text %}
        {% endfor %}
        {% for identifier in metadata.identifiers %}
            {% include "./_metadata_row.html" with label=identifier.label extra_label=identifier.type value=identifier.identifier %}
        {% endfor %}
    </dl>
    {% endif %}

    <section class="py-2 px-4 dark:border dark:border-white/10 bg-gray-100 dark:bg-white/15 shadow-sm rounded-xl">
        <dl id="overview">
            {% for agent in metadata.agents %}
                {% include "./_metadata_row.html" with svg_path=agent.icon_path label=agent.display_roles url=agent.url value=agent.display %}
            {% endfor %}
            {% for place in metadata.origin_places.places %}
                {% include "./_metadata_row.html" with svg_path="../_icons/place.svg" label=place.label url=place.url value=place.display extra_value=place.display_countries %}
            {% endfor %}
            {% include "./_metadata_row.html" with svg_path='../_icons/origindate.svg' label=metadata.origin_date.label value=metadata.origin_date.dates.display %}
            {% include "./_metadata_row.html" with svg_path="../_icons/location.svg" label=metadata.location.label url=metadata.location.url value=metadata.location.names.title %}
            {% include "./_metadata_row.html" with svg_path="../_icons/clock.svg" label=metadata.last_updated.label value=metadata.last_updated.text %}
            {% include "./_metadata_row.html" with svg_path="../_icons/clock.svg" label=metadata.created.label value=metadata.created.text %}
            {% if metadata.files.rights_code %}
            <section class="border-t border-[#D1D9D5] mt-4 py-4" aria-labelledby="licensing-heading">
                <div class="flex flex-row gap-x-2 items-center">
                    <svg class="size-9 mx-4" stroke-width="2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor">
                        <title>{{metadata.files.rights_label}}</title>
                        <path d="M12 7L12 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M12 16.01L12.01 15.9989" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M5 18L3.13036 4.91253C3.05646 4.39524 3.39389 3.91247 3.90398 3.79912L11.5661 2.09641C11.8519 2.03291 12.1481 2.03291 12.4339 2.09641L20.096 3.79912C20.6061 3.91247 20.9435 4.39524 20.8696 4.91252L19 18C18.9293 18.495 18.5 21.5 12 21.5C5.5 21.5 5.07071 18.495 5 18Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    
                    <div>
                        <h2 class="font-bold" id="licensing-heading">{{metadata.files.rights_label}}</h2>
                        <p>{{metadata.files.rights}}</p>
                        <a href="{{metadata.files.rights_url}}">{%translate 'Information om licensen' %}</a>
                    </div>
                    
                </div>
            </section>
            {% endif %}
        </dl>
    </section>

    {% if metadata.components %}
    <div class="flex flex-col justify-baseline py-2 border-b border-[#D1D9D5]">
        <button data-xon.click="open_inventory = !open_inventory"
            class="flex gap-x-1 h-full p-2 dark:text-gray-200 text-center cursor-pointer hover:text-alvin">
            {% include '../_icons/inventory.svg' with class="size-6" %}
            <div class="flex flex-row">
                {% if metadata.type_of_resource.code == 'col' %}
                    {% translate 'Förteckning' %}
                {% else %}
                    {% translate 'Innehållsbeskrivning' %}
                {% endif %}
            </div>
            <svg 
                class="size-6 inline-block transition-transform duration-100 ease-in-out origin-center" 
                data-xbind:class="open_inventory ? 'rotate-90' : 'rotate-0'"
                stroke-width="2" 
                viewBox="0 0 24 24" 
                fill="none" 
                color="currentColor"
                >
                <path d="M9 6L15 12L9 18" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </button>
        <div class="py-4" data-xshow="open_inventory" data-xcloak>
            {% include "alvin_viewer/_partials/_components.html" with components=metadata.components only %}
        </div>
    </div>
    {% endif %}

    {% if has_related or metadata.related_records or metadata.components.all_related_records %}
    <div class="flex flex-row py-2 border-b border-[#D1D9D5]">
        <button
            data-xon.click="open_related = !open_related"
            class="dark:text-gray-200 cursor-pointer flex gap-x-1 h-full p-2 text-center hover:text-alvin">
            {% include '../_icons/related.svg' with class="size-6" %}
            <span>{% translate 'Relaterat' %}</span>
            <svg 
                class="size-6 inline-block transition-transform duration-100 ease-in-out origin-center" 
                data-xbind:class="open_related ? 'rotate-90' : 'rotate-0'"
                stroke-width="2" 
                viewBox="0 0 24 24" 
                fill="none" 
                color="currentColor"
                >
                <path d="M9 6L15 12L9 18" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </button>
    </div>

    <section data-xshow="open_related" data-xcloak aria-labelledby="related-heading" class="mt-6">

        {% if metadata.related_records %}
        <h2 id="related-heading" class="py-2 font-bold">
            {{metadata.related_records.label}}:
        </h2>
        <div class="p-4 mb-4 bg-gray-100 dark:bg-white/10 rounded-md shadow-md">

            {% for type_block in metadata.related_records.ordered_by_type %}
            <h3 class="my-2">{{type_block.label}}</h3>
            <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 mb-8">

                {% for record in type_block.records %}
                <li class="w-full h-[240px]">
                    <a href="{{ record.url }}" 
                    class="group relative block w-full h-full bg-gray-100 dark:bg-white/10 rounded-md overflow-hidden shadow-md hover:shadow-md transition-shadow duration-300 ease-in-out">
                        
                        <div class="w-full h-[240px] overflow-hidden bg-gray-100 dark:bg-white/10">
                            {% if record.thumbnail_url %}
                            <img src="{{record.thumbnail_url}}" 
                                alt="{{record.main_title.display}}"
                                class="w-full h-full object-cover transition-transform duration-500 ease-in-out group-hover:scale-110">
                            {% else %}
                            <div class="w-full h-full flex items-center justify-center transition-transform duration-500 ease-in-out group-hover:scale-110">
                                <svg class="size-20 text-gray-400" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                                    <title>{% translate 'Tumnagel saknas' %}</title>
                                    {% include '../_icons/no-image.svg' %}
                                </svg>
                            </div>
                            {% endif %}
                        </div>

                        <div class="absolute bottom-0 w-full p-4 bg-gray-900/90 text-white transition-all duration-300 ease-in-out max-h-[80px] group-hover:max-h-full">
                            <h3 class="font-medium text-sm leading-tight truncate group-hover:whitespace-normal">
                                {{record.main_title.display}}
                            </h3>
                            <p class="mt-2 text-xs text-gray-300 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                                {% translate 'Klicka för att visa detaljer' %}
                            </p>
                        </div>

                    </a>
                </li>
                {% endfor %}

            </ul>

        {% endfor %}
        </div>
        {% endif %}
        
        {% if metadata.components.all_related_records %}
        <h2 id="related-heading" class="py-2 font-bold">
            {% translate 'Relaterade poster från komponenter' %}:
        </h2>
        <div class="p-4 mb-4 bg-gray-100 dark:bg-white/10 rounded-md shadow-md">

            {% for type_block in metadata.components.all_related_records.ordered_by_type %}
            <h3 class="my-2">{{type_block.label}}</h3>
            <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 mb-8">

                {% for record in type_block.records %}
                <li class="w-full h-[240px]">
                    <a href="{{ record.url }}" 
                    class="group relative block w-full h-full bg-gray-100 dark:bg-white/10 rounded-md overflow-hidden shadow-md hover:shadow-md transition-shadow duration-300 ease-in-out">
                        
                        <div class="w-full h-[240px] overflow-hidden bg-gray-100 dark:bg-white/10">
                            {% if record.thumbnail_url %}
                            <img src="{{record.thumbnail_url}}" 
                                alt="{{record.main_title.display}}"
                                class="w-full h-full object-cover transition-transform duration-500 ease-in-out group-hover:scale-110">
                            {% else %}
                            <div class="w-full h-full flex items-center justify-center transition-transform duration-500 ease-in-out group-hover:scale-110">
                                <svg class="size-20 text-gray-400" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                                    <title>{% translate 'Tumnagel saknas' %}</title>
                                    {% include '../_icons/no-image.svg' %}
                                </svg>
                            </div>
                            {% endif %}
                        </div>

                        <div class="absolute bottom-0 w-full p-4 bg-gray-900/90 text-white transition-all duration-300 ease-in-out max-h-[80px] group-hover:max-h-full">
                            <h3 class="font-medium text-sm leading-tight truncate group-hover:whitespace-normal">
                                {{record.main_title.display}}
                            </h3>
                            <p class="mt-2 text-xs text-gray-300 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                                {% translate 'Klicka för att visa detaljer' %}
                            </p>
                        </div>

                    </a>
                </li>
                {% endfor %}

            </ul>

            {% endfor %}
        </div>
        {% endif %}

        {% if has_related %}
        <h2 class="py-2 font-bold">{% translate 'Övrigt relaterat' %}:</h2>
        <div class="p-4 mb-4 bg-gray-100 dark:bg-white/10 rounded-md shadow-md">
            <dl id="allmetadata">
                {% include "./_authority_links.html" with label=metadata.subject_person.label link_type="alvin-person" authority_links=metadata.subject_person %}
                {% include "./_authority_links.html" with label=metadata.subject_organisation.label link_type="alvin-organisation" authority_links=metadata.subject_organisation %}
                {% include "./_authority_links.html" with label=metadata.subject_place.label link_type="alvin-place" authority_links=metadata.subject_place %}
                {% include "./_authority_links.html" with label=metadata.work.label link_type="alvin-work" authority_links=metadata.work %}
                {% for electronic_locator in metadata.electronic_locators %}
                    {% include "./_metadata_row.html" with label=electronic_locator.label url=electronic_locator.url value=electronic_locator.display_label %}
                {% endfor %}
            </dl>
        </div>
        {% endif %}

    </section>
    {% endif %}
</div>