<!-- LOCALIZATION -->
{% load i18n %}

<!-- STATIC -->
{% load static %}

{% load metadata_wrangler %}

<!-- Metadata -->
<section class="block w-full border-t-4 border-black">
    
    <dl class="">
        <!-- Metadata -->
        <div class="flex flex-col" x-show="activeTab != 'related'">
            {% for title in metadata.variant_titles %}
                {% include "./_metadata_row.html" with label="Alternativ titel" value=title|alvin_work_name extra_value=title.type %}
            {% endfor %}
            <div class="flex flex-col" x-show="activeTab === 'all_metadata'" x-cloak>
                

            </div>
            {% include "./_metadata_row.html" with label="Startdatum" value=metadata.start_date %}
            {% include "./_metadata_row.html" with label="Slutdatum" value=metadata.end_date %}
            {% include "./_metadata_row.html" with label="Årtal" value=metadata.display_date %}
            <div class="flex flex-col" x-show="activeTab === 'all_metadata'" x-cloak>
                {% for date in metadata.date_other %}
                    {% include "./_metadata_row.html" with label="Övriga datum" extra_label=date.type value=date|date_other_join|linebreaksbr %}
                {% endfor %}
                {% include "./_metadata_row.html" with label="Incipit" value=metadata.incipit %}
                {% for type, note in metadata.notes.items %}
                    {% include "./_metadata_row.html" with label="Anmärkning" extra_label=type value=note|linebreaksbr %}
                {% endfor %}
                {% include "./_metadata_row.html" with label="Post skapad" value=metadata.created %}
                {% include "./_metadata_row.html" with label="Senast uppdaterad" value=metadata.last_updated %}
                {% include "./_metadata_row.html" with label="Källdata" value=metadata.source_xml %}
            </div>
            {% include "./_metadata_row.html" with label="Id" value=metadata.id %}

            <div class="flex flex-col" x-show="activeTab === 'related'" x-cloak>

            </div>
        </div>
    </dl>
</section>

