{% load i18n static %}

<!-- Metadata -->
<div class="flex flex-col gap-y-4 w-full max-w-4xl mx-auto leading-[1.5]" data-xdata="{ open_related: false }">
    <section class="mt-4" aria-labelledby="summary-heading">
        {% if metadata.biographical_note %}
        <h2 id="summary-heading" class="sr-only">{{metadata.biographical_note.type}}</h2>
        <p class="text-lg">{{metadata.biographical_note.text|linebreaksbr}}</p>
        {% endif %}
    </section>

    {% if has_all_metadata %}
    <dl id="allmetadata" class="py-2 px-4 mb-6 dark:border-white/10 bg-gray-100 dark:bg-white/15 shadow-sm rounded-xl" data-xshow="activeTab === 'all_metadata'" data-xcloak>
        {% include "./_metadata_row_variant_names.html" %}
        {% include "./_address.html" with address=metadata.address %}
        {% include "./_metadata_row.html" with label=metadata.general_note.type value=metadata.general_note.text %}
        {% include "./_metadata_row.html" with label=metadata.source_note.type value=metadata.source_note.text %}
        {% for identifier in metadata.identifiers %}
            {% include "./_metadata_row.html" with label=identifier.label extra_label=identifier.type value=identifier.identifier %}
        {% endfor %}
    </dl>
    {% endif %}

    <section class="py-2 px-4 dark:border dark:border-white/10 bg-gray-100 dark:bg-white/15 shadow-sm rounded-xl">
        <dl id="overview">
            {% with metadata.authority_names.label as authority_label %}
                {% for lang, name in metadata.authority_names.names.items %}
                    {% include "./_metadata_row.html" with svg_path="../_icons/organisationname.svg" label=authority_label extra_label=name.label_lang value=name.display %}
                {% endfor %}
            {% endwith %}
            {% include "./_metadata_row.html" with svg_path="../_icons/origindate.svg" label=metadata.start_date.label value=metadata.start_date.display %}
            {% include "./_metadata_row.html" with svg_path="../_icons/origindate.svg" label=metadata.end_date.label value=metadata.end_date.display %} 
            {% include "./_metadata_row.html" with svg_path="../_icons/origindate.svg" label=metadata.display_date.label value=metadata.display_date.text %}
            {% include "./_metadata_row.html" with svg_path="../_icons/clock.svg" label=metadata.created.label value=metadata.created.text %}
            {% include "./_metadata_row.html" with svg_path="../_icons/clock.svg" label=metadata.last_updated.label value=metadata.last_updated.text %}
        </dl>

    </section>

    {% if has_related %}
    <div class="flex flex-row py-2 border-b border-[#D1D9D5]">
        <button
            data-xon.click="open_related = ! open_related"
            class="dark:text-gray-200 cursor-pointer flex gap-x-1 h-full p-2 text-center hover:text-alvin">
            {% include '../_icons/related.svg' with class="size-6" %}
            <span>{% translate 'Relaterat' %}</span>
            <svg 
                class="size-6 inline-block transition-transform duration-100 ease-in-out origin-center" 
                data-xbind:class="open_related ? 'rotate-90' : 'rotate-0'"
                stroke-width="2" 
                viewBox="0 0 24 24" 
                fill="none" 
                color="currentColor"
                >
                <path d="M9 6L15 12L9 18" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </button>
    </div>

    <section data-xshow="open_related" data-xcloak aria-labelledby="related-heading" class="mt-6">

        {% if metadata.related_organisations %}
        <h2 id="related-heading" class="py-2 font-bold">
            {{metadata.related_organisations.label}}:
        </h2>
        <div class="p-4 mb-4 bg-gray-100 dark:bg-white/10 rounded-md shadow-md">
           
            {% for type_block in metadata.related_organisations.ordered_by_type %}
            <h3 class="my-2">{{type_block.label}}</h3>
            <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 mb-8">
                
                {% for organisation in type_block.records %}
                <li class="w-full h-[240px]">
                    <a href="{{ organisation.url }}" 
                    class="group relative block w-full h-full bg-gray-100 dark:bg-white/10 rounded-md overflow-hidden shadow-md hover:shadow-md transition-shadow duration-300 ease-in-out">
                        
                        <div class="w-full h-[240px] overflow-hidden bg-gray-100 dark:bg-white/10">
                            <div class="w-full h-full flex items-center justify-center transition-transform duration-500 ease-in-out group-hover:scale-110">
                                <svg class="size-20 text-gray-400" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                                    <title>Organisation</title>
                                    {% include '../_icons/organisation.svg' %}
                                </svg>
                            </div>
                        </div>

                        <div class="absolute bottom-0 w-full p-4 bg-gray-900/90 text-white transition-all duration-300 ease-in-out max-h-[80px] group-hover:max-h-full">
                            <h3 class="font-medium text-sm leading-tight truncate group-hover:whitespace-normal">
                                {{organisation.name.title}}
                            </h3>
                            <p class="mt-2 text-xs text-gray-300 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                                {% translate 'Klicka för att visa detaljer' %}
                            </p>
                        </div>

                    </a>
                </li>
                {% endfor %}
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        
        {% if metadata.electronic_locators %}
        <h2 class="py-2 font-bold">{% translate 'Övrigt relaterat' %}:</h2>
        <div class="p-4 mb-4 bg-gray-100 dark:bg-white/10 rounded-md shadow-md">
            <dl id="allmetadata">
                {% for electronic_locator in metadata.electronic_locators %}
                    {% include "./_metadata_row.html" with label=electronic_locator.label url=electronic_locator.url value=electronic_locator.display_label %}
                {% endfor %}
            </dl>
        </div>
        {% endif %}

    </section>
    {% endif %}
</div>