{% load i18n static %}

{% block title %}
<title>Alvin - {{ metadata.main_title.display }}</title>
{% endblock %}

<!-- Metadata -->
<div class="flex flex-col w-full">
    <div data-xshow="activeTab === 'overview' || activeTab === 'all_metadata'" data-xcloak>
        {% for title in metadata.variant_titles.titles %}
            {% include "./_metadata_row.html" with label=metadata.variant_titles.label extra_label=title.type value=title.display %}
        {% endfor %}
    </div>
    <div data-xshow="activeTab === 'overview' || activeTab === 'all_metadata' || activeTab  === 'related'" data-xcloak>
    {% for agent in metadata.agents %}
        {% include "./_metadata_row.html" with label=agent.label url=agent.url value=agent.display attribute=agent.display_roles %}
    {% endfor %}
    {% for place in metadata.origin_places.places %}
        {% include "./_metadata_row.html" with label=place.label url=place.url value=place.name.title %}
    {% endfor %}
    </div>
    <div data-xshow="activeTab === 'overview' || activeTab === 'all_metadata'" data-xcloak>
        {% include "./_metadata_row.html" with label=metadata.origin_date.label value=metadata.origin_date.dates.display %}
    </div>
    <div data-xshow="activeTab == 'all_metadata'" data-xcloak>
        {% include "./_metadata_row.html" with label=metadata.edition_statement.label value=metadata.edition_statement.text %}
        {% include "./_metadata_row.html" with label=metadata.publications.label value=metadata.publications.texts|join:"<br>" %}
        {% for date in metadata.date_other %}
            {% include "./_metadata_row.html" with label=date.dates.type value=date.dates.display|linebreaksbr %}
        {% endfor %}
        {% include "./_metadata_row.html" with label=metadata.languages.label value=metadata.languages.items|join:"<br>"|safe %}
    </div>
    <div data-xshow="activeTab == 'all_metadata' || activeTab == 'related'" data-xcloak>
        {% include "./_metadata_row.html" with label=metadata.location.label url=metadata.location.url value=metadata.location.names.title %}
    </div>
    <div data-xshow="activeTab == 'all_metadata'" data-xcloak>
        {% include "./_metadata_row.html" with label=metadata.sublocation.label value=metadata.sublocation.text %}
        {% include "./_metadata_row.html" with label=metadata.shelf_mark.label value=metadata.shelf_mark.text %}
        {% include "./_metadata_row.html" with label=metadata.former_shelf_mark.label value=metadata.former_shelf_mark.texts|join:"<br>" %}
        {% include "./_metadata_row.html" with label=metadata.subcollection.label value=metadata.subcollection.items|join:"<br>" %}
        {% include "./_metadata_row.html" with label=metadata.physical_location_note.combined_label value=metadata.physical_location_note.text|linebreaksbr %}
        {% include "./_metadata_row.html" with label=metadata.base_material.label value=metadata.base_material.display %}
        {% include "./_metadata_row.html" with label=metadata.applied_material.label value=metadata.applied_material.display %}
        {% include "./_metadata_row.html" with label=metadata.extent.label value=metadata.extent.text|linebreaksbr %}
        {% for dimension in metadata.dimensions %}
            {% include "./_metadata_row.html" with label=dimension.combined_label value=dimension.display %}
        {% endfor %}
        {% include "./_metadata_row.html" with label=metadata.measure.label value=metadata.measure.display %}
        {% for note in metadata.physical_description_notes.texts %}
            {% include "./_metadata_row.html" with label=note.type value=note.text|linebreaksbr %}
        {% endfor %}
        {% for note in metadata.notes.texts %}
            {% include "./_metadata_row.html" with label=note.type value=note.text|linebreaksbr %}
        {% endfor %}
        {% include "./_metadata_row.html" with label=metadata.summary.label value=metadata.summary.text|linebreaksbr %}
        {% include "./_metadata_row.html" with label=metadata.transcription.label value=metadata.transcription.text|linebreaksbr %}
        {% include "./_metadata_row.html" with label=metadata.table_of_contents.label value=metadata.table_of_contents.text|linebreaksbr %}
        {% include "./_metadata_row.html" with label=metadata.literature.label value=metadata.literature.text|linebreaksbr %}
        {% include "./_metadata_row.html" with label=metadata.access_policy.label value=metadata.access_policy.text|linebreaksbr %}
        {% for subject in metadata.subjects %}
            {% include "./_metadata_row.html" with label=subject.label value=subject.display %}
        {% endfor %}
    </div>
    <div data-xshow="activeTab == 'all_metadata' || activeTab == 'related'" data-xcloak>
        {% include "./_authority_links.html" with label=metadata.subject_person.label link_type="alvin-person" authority_links=metadata.subject_person %}
        {% include "./_authority_links.html" with label=metadata.subject_organisation.label link_type="alvin-organisation" authority_links=metadata.subject_organisation %}
        {% include "./_authority_links.html" with label=metadata.subject_place.label link_type="alvin-place" authority_links=metadata.subject_place %}
    </div>
    <div data-xshow="activeTab == 'all_metadata'" data-xcloak>
        {% include "./_metadata_row.html" with label=metadata.genre_form.label value=metadata.genre_form.items|join:"<br>"|safe %}
        {% for classification in metadata.classifications %}
            {% include "./_metadata_row.html" with label=classification.label extra_label=classification.type value=classification.text %}
        {% endfor %}
        {% for identifier in metadata.identifiers %}
            {% include "./_metadata_row.html" with label=identifier.label extra_label=identifier.type value=identifier.identifier %}
        {% endfor %}
        {% include "./_metadata_row.html" with label=metadata.deco_note.combined_label value=metadata.binding.text|linebreaksbr %}
        {% include "./_metadata_row.html" with label=metadata.binding.combined_label value=metadata.binding.text|linebreaksbr %}
        {% include "./_metadata_row.html" with label=metadata.binding_deco_note.combined_label value=metadata.binding_deco_note.text|linebreaksbr %}

    </div>
    <div data-xshow="activeTab == 'all_metadata' || activeTab == 'related'" data-xcloak>
        {% include "alvin_viewer/_partials/_record_type_links.html" with label=metadata.related_records.label link_type="alvin-record" record_type_links=metadata.related_records %}
        {% include "./_authority_links.html" with label=metadata.work.label link_type="alvin-work" authority_links=metadata.work %}
        {% for electronic_locator in metadata.electronic_locators %}
            {% include "./_metadata_row.html" with label=electronic_locator.label url=electronic_locator.url value=electronic_locator.display_label %}
        {% endfor %}
    </div>
    <div data-xshow="activeTab == 'all_metadata'" data-xcloak>
        {% include "./_metadata_row.html" with label=metadata.level.label value=metadata.level.item %}
        {% include "./_metadata_row.html" with label=metadata.shelf_metres.label value=metadata.shelf_metres.item %}
        {% include "./_metadata_row.html" with label=metadata.archival_units.label value=metadata.archival_units.text %}
        {% include "./_metadata_row.html" with label=metadata.other_findaid.label value=metadata.other_findaid.texts|join:"<br>" %}
        {% include "./_metadata_row.html" with label=metadata.weeding.label value=metadata.weeding.texts|join:"<br>" %}
        {% include "./_metadata_row.html" with label=metadata.related_material.label value=metadata.related_material.texts|join:"<br>" %}
        {% include "./_metadata_row.html" with label=metadata.arrangement.label value=metadata.arrangement.texts|join:"<br>" %}
        {% include "./_metadata_row.html" with label=metadata.accruals.label value=metadata.accruals.texts|join:"<br>" %}
        {% include "./_metadata_row.html" with label=metadata.locus.label value=metadata.locus.text %}
        {% include "./_metadata_row.html" with label=metadata.incipit.label value=metadata.incipit.text %}
        {% include "./_metadata_row.html" with label=metadata.explicit.label value=metadata.explicit.text %}
        {% include "./_metadata_row.html" with label=metadata.rubric.label value=metadata.rubric.text %}
        {% include "./_metadata_row.html" with label=metadata.final_rubric.label value=metadata.final_rubric.text %}
        {% include "./_metadata_row.html" with label=metadata.music_key.label value=metadata.music_key.items|join:"<br>" %}
        {% include "./_metadata_row.html" with label=metadata.music_key_other.label value=metadata.music_key_other.text %}
        {% include "./_metadata_row.html" with label=metadata.music_medium.label value=metadata.music_medium.items|join:"<br>" %}
        {% include "./_metadata_row.html" with label=metadata.music_medium_other.label value=metadata.music_medium_other.text %}
        {% include "./_metadata_row.html" with label=metadata.music_notation.label value=metadata.music_notation.items|join:"<br>" %}
        {% include "./_metadata_row.html" with label=metadata.scale.label value=metadata.scale.text %}
        {% include "./_metadata_row.html" with label=metadata.projection.label value=metadata.projection.text %}
        {% include "./_metadata_row.html" with label=metadata.coordinates.label value=metadata.coordinates.text %}
        {% include "./_metadata_row.html" with label=metadata.appraisal.label value=metadata.appraisal.display %}
        {% include "./_metadata_row.html" with label=metadata.edge.label value=metadata.edge.display %}
        {% include "./_metadata_row.html" with label=metadata.axis.label value=metadata.axis.clock.item %}
        {% include "./_metadata_row.html" with label=metadata.conservation_state.label value=metadata.conservation_state.items|join:"<br>" %}
        {% include "./_metadata_row.html" with label=metadata.obverse.description_label value=metadata.obverse.description.text %}
        {% include "./_metadata_row.html" with label=metadata.obverse.legend_label value=metadata.obverse.legend.text %}
        {% include "./_metadata_row.html" with label=metadata.reverse.description_label value=metadata.reverse.description.text %}
        {% include "./_metadata_row.html" with label=metadata.reverse.legend_label value=metadata.reverse.legend.text %}
        {% include "./_metadata_row.html" with label=metadata.countermark.label value=metadata.countermark.texts|join:"<br>" %}
        {% include "./_metadata_row.html" with label=metadata.created.label value=metadata.created.text %}
        {% include "./_metadata_row.html" with label=metadata.last_updated.label value=metadata.last_updated.text %}
        {% include "./_metadata_row.html" with label="Källdata" value=metadata.source_xml %}
    </div>
    <div data-xshow="activeTab === 'overview' || activeTab === 'all_metadata'" data-xcloak>
        {% include "./_metadata_row.html" with label="Id" value=metadata.id %}
    </div>
    {% if metadata.components %}
    <div data-xshow="activeTab == 'overview' || activeTab == 'all_metadata' || activeTab == 'inventory'" data-xcloak>
        <h1 class="text-2xl mt-6" data-xshow="activeTab != 'inventory'">
            {% if metadata.type_of_resource.code == 'col' %}
                {% translate 'Arkivförteckning' %}
            {% else %}
                {% translate 'Innehållsbeskrivning' %}
            {% endif %}
        </h1>
        {% include "alvin_viewer/_partials/_components.html" with components=metadata.components only %}
    </div>
    <div data-xshow="activeTab === 'related'" data-xcloak>
        <!-- Related records from components -->
    </div>
    {% endif %}
</div>
