{% load i18n static %}

{% block title %}
<title>Alvin - {{ metadata.authority_names.title }}</title>
{% endblock %}

<!-- Metadata -->
<div class="flex flex-col">
    <div data-xshow="activeTab === 'overview' || activeTab === 'all_metadata'" data-xcloak>
        {% with metadata.authority_names.label as authority_label %}
            {% for lang, name in metadata.authority_names.names.items %}
                {% include "./_metadata_row.html" with label=authority_label extra_label=name.label_lang value=name.display %}
            {% endfor %}
        {% endwith %}
    </div>
    <div data-xshow="activeTab === 'all_metadata'" data-xcloak>
        {% with metadata.variant_names.label as variant_label %}
            {% for lang, name in metadata.variant_names.names.items %}
                {% include "./_metadata_row.html" with label=variant_label extra_label=name.label_lang value=name.display %}
            {% endfor %}
        {% endwith %}
        {% include "./_metadata_row.html" with label=metadata.country.label value=metadata.country.item %}
        {% if metadata.longitude and metadata.latitude %}
            {% include "./_metadata_row.html" with label=metadata.longitude.label value=metadata.longitude.text %}
            {% include "./_metadata_row.html" with label=metadata.latitude.label value=metadata.latitude.text %}
        {% endif %}
        {% include "./_metadata_row.html" with label=metadata.created.label value=metadata.created.text %}
        {% include "./_metadata_row.html" with label=metadata.last_updated.label value=metadata.last_updated.text %}
    </div>
    <div data-xshow="activeTab === 'related'" data-xcloak>
        <!-- Incoming links -->
    </div>
    {% include './_alvin_id_uri.html' %}
</div>

{% if metadata.longitude and metadata.latitude %}
<div id="alvin-map" class="w-full h-96 mt-8 z-0 border rounded shadow-sm"
    data-latitude="{{ metadata.latitude.text }}"
    data-longitude="{{ metadata.longitude.text }}">
</div>
{% endif %}