{% load i18n static %}

{% block title %}
<title>Alvin - {{ metadata.authority_names.title }}</title>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">
{% endblock %}

{% block jshead %}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin="">
</script>
{% endblock %}

<!-- Metadata -->
<div class="flex flex-col">
    <div data-xshow="activeTab === 'overview' || activeTab === 'all_metadata'" data-xcloak>
        {% with metadata.authority_names.label as authority_label %}
            {% for lang, name in metadata.authority_names.names.items %}
                {% include "./_metadata_row.html" with label=authority_label extra_label=name.label_lang value=name.display %}
            {% endfor %}
        {% endwith %}
    </div>
    <div data-xshow="activeTab === 'all_metadata'" data-xcloak>
        {% with metadata.variant_names.label as variant_label %}
            {% for lang, name in metadata.variant_names.names.items %}
                {% include "./_metadata_row.html" with label=variant_label extra_label=name.label_lang value=name.display %}
            {% endfor %}
        {% endwith %}
        {% include "./_metadata_row.html" with label=metadata.country.label value=metadata.country.item %}
        {% if metadata.longitude and metadata.latitude %}
            {% include "./_metadata_row.html" with label=metadata.longitude.label value=metadata.longitude.text %}
            {% include "./_metadata_row.html" with label=metadata.latitude.label value=metadata.latitude.text %}
        {% endif %}
        {% include "./_metadata_row.html" with label=metadata.created.label value=metadata.created.text %}
        {% include "./_metadata_row.html" with label=metadata.last_updated.label value=metadata.last_updated.text %}
    </div>
    <div data-xshow="activeTab === 'related'" data-xcloak>
        <!-- Incoming links -->
    </div>
    {% include './_alvin_id_uri.html' %}
</div>

{% if metadata.latitude and metadata.longitude %}
<div id="alvin-map" class="w-full h-96 mt-8 z-0 border rounded shadow-sm"
        data-latitude="{{ metadata.latitude.text }}"
        data-longitude="{{ metadata.longitude.text }}"></div>
{% endif %}

{% block jsbody %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
      var mapElement = document.getElementById('alvin-map');
      if (mapElement) {
          var lat = mapElement.dataset.latitude;
          var lng = mapElement.dataset.longitude;
          var hasLocation = lat && lng;

          var map = L.map('alvin-map').setView(hasLocation ? [lat, lng] : [62.0, 15.0], hasLocation ? 13 : 4);
          
          L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
              maxZoom: 19,
              attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
          }).addTo(map);

          if (hasLocation) {
              L.marker([lat, lng]).addTo(map);
          }
      }
  });
</script>
{% endblock %}