{% load i18n static metadata_wrangler %}

  <header class="flex items-baseline bg-linear-to-tr text-lg p-4 my-2 border-t-4 border-r-4 border-black bg-gray-300 hover:bg-alvin-green cursor-pointer" @click="open = !open">
    {% if c.unitid %}
    <span class="text-sm p-1 mr-2 border-black border-2 border-dashed" itemprop="identifier">{{ c.unitid }}</span>
    {% endif %}
    <h1>{{ c.title|alvin_record_title }}<span class="mx-2" x-text="open ? '▼' : '▶'"></span></h1>
  </header>

  <dl x-show="open" x-cloak>
    {% include "alvin_viewer/_partials/_metadata_row.html" with label=c.level.label value=c.level.item %}
    {% for agent in c.agents %}
        {% url 'alvin_viewer' agent.type agent.id as agent_url %}
        {% include "alvin_viewer/_partials/_metadata_row.html" with label=agent.label url=agent_url value=agent.name|agent_name attribute=agent.role|role_list  %}
    {% endfor %}
    {% include "alvin_viewer/_partials/_record_type_links.html" with label=c.place.label link_type="alvin-place" record_type_links=c.place %}
    {% include "alvin_viewer/_partials/_metadata_row.html" with label=c.origin_date.label value=c.origin_date.dates|dates_join %}
    {% include "alvin_viewer/_partials/_metadata_row.html" with label=c.display_date.label value=c.display_date.text %}
    {% include "alvin_viewer/_partials/_metadata_row.html" with label=c.extent.label value=c.extent.text|linebreaksbr %}
    {% for electronic_locator in c.electronic_locators %}
      {% include "alvin_viewer/_partials/_metadata_row.html" with label=electronic_locator.label url=electronic_locator.url value=electronic_locator.display_label %}
    {% endfor %}
    {% include "alvin_viewer/_partials/_record_type_links.html" with label=c.related_records.label link_type="alvin-record" record_type_links=c.related_records %}
    {% include "alvin_viewer/_partials/_metadata_row.html" with label=c.accession_numbers.label value=c.accession_numbers.texts|join:"<br>" %}
    {% include "./_metadata_row.html" with label=c.note.label value=c.note.text|linebreaksbr %}
    {% include "./_metadata_row.html" with label=c.access_policy.label value=c.access_policy.text|linebreaksbr %}
  </dl>

  {% if c %}
    <article class="lg:ml-4 max-lg:ml-2" x-data="{ open: false }">
    {% for component in c.components %}
      {% include "alvin_viewer/_partials/_component.html" with c=component only %}
    {% endfor %}
    </article>    
  {% endif %}