{% load i18n static %}

{% if value %}
<div class="md-row">
    <dt class="md-label">
        {{ label }}
        {% if extra_label %}
            ({{ extra_label }})
        {% endif %}
    </dt>
    <dd class="md-value">
        {% if url %}
            <a class="text-blue-800 dark:text-blue-200 underline" href="{{ url }}">{{ value }}</a>{% if extra_value %}{{ extra_value }}{% endif %}
        {% else %}
            {{ value }}{% if extra_value %}{{ extra_value }}{% endif %}
        {% endif %}
        {% if attribute %}
            ({{ attribute }})
        {% endif %}
    </dd>
</div>
{% endif %}