{% load i18n static metadata_wrangler %}

{% if record_type_links %}
<div class="md-row">
    <dt class="md-label">
        {{ label }}
    </dt>
    <dd class="md-value">
        {% for record_type in record_type_links.records %}
            <a href="{{ record_type.url }}">
                {% if link_type == 'alvin-record' %}
                    {{ record_type }}
                {% elif link_type == 'alvin-place'%}
                    {{ record_type.name.title }}
                {% elif link_type == 'alvin-person'%}
                    {{ record_type.name.title }}
                {% elif link_type == 'alvin-organisation'%}
                    {{ record_type.name.title }}
                {% elif link_type == 'alvin-work' %}
                    {{ record_type }}
                {% endif %}
            </a>
            {% if record_type.type %}
                ({{ record_type.type }})
            {% endif %}
            {% for part in record_type.parts %}
                <strong>{{ part.type }}</strong>: {{ part|part_join }}{% if not forloop.last %} ; {% endif %}
            {% endfor %}
            {% if not forloop.last %}
                <br>
            {% endif %}
        {% endfor %}
    </dd>
</div>
{% endif %}