{% load i18n static %}

{% if metadata.record_type != 'alvin-record' %}
<aside class="w-fixed w-full md:w-1/4 flex-shrink flex-grow-0 px-4" aria-label="{% translate 'Relaterade funktioner' %}">
  <div class="sticky top-0 p-4 bg-off-white dark:bg-gray-700 rounded-xl w-full h-full">
    
      <nav class="py-4" aria-label="{% translate 'Sökning på länkade poster' %}">
        <a
          href=""
          class="inline-flex items-center justify-center w-full bg-orange-600 hover:bg-orange-700 focus:bg-blue-800 text-white font-semibold py-2 px-4 rounded-full"
        >
          {% translate 'Sök länkade poster' %}
        </a>
      </nav>


    <section class="pt-4" aria-labelledby="export-heading">
      <h2 id="export-heading" class="text-xl md:text-2xl font-bold text-center">
        {% translate 'Exportera' %}
      </h2>

      <div class="flex justify-center items-center py-4">
        <svg
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 8.25H7.5a2.25 2.25 0 0 0-2.25 2.25v9a2.25 2.25 0 0 0 2.25 2.25h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25H15M9 12l3 3m0 0 3-3m-3 3V2.25" />
        </svg>
        <a class="text-blue-800 dark:text-blue-200 underline pl-1" href="/record/{{ metadata.record_type }}/{{ metadata.id }}?format=xml">
          XML
        </a>
      </div>
    </section>
  </div>
</aside>
{% endif %}
