{% extends 'base.html' %}

<!-- LOCALIZATION -->
{% load i18n %}

<!-- STATIC -->
{% load static %}

{% block head %}
<title>Alvin - {{ metadata.authority_names.0 }}</title>
{% endblock %}

{% block jshead %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" 
    crossorigin="">
  </script>
{% endblock %}

{% block content %}
<main class="bg-alvinGrey pt-20 max-w-full">
  {% include '_partials/_breadcrumbs.html' %}
  
  <div class="flex items-center justify-center">
    <div class="w-4/6 h-screen px-4">
      
      {% if metadata.latitude and metadata.longitude %}
      <div class="h-1/2 w-full z-0 border-alvinOrange border-2" id="map"></div>
      {% endif %}
      
      <h1 class="text-4xl font-universalis font-bold mt-4 mb-4">{{ metadata.authority_names.0 }}</h1>
      <div class="flex items-center mb-4">
        <img src="/static/img/authorityTypes/map-pin.svg" alt="Globe with marker" class="w-6 h-6 mr-2">
        <span class="font-semibold">{% translate 'Plats' %}</span>
      </div>

      {% if metadata.variant_names %}
      <div class="mb-4">
        <strong class="font-semibold">{% translate 'Alternativa namnformer' %}</strong>
        <ul class="list-none">
          {% for variant_name, lang in metadata.variant_names %}
          <li class="list-outside">{{ variant_name }} ({{ lang }})</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if metadata.country %}
      <div class="mb-4">
        <strong class="font-semibold">{% translate 'Land' %}</strong>
        <p>{{ metadata.country.0 }}</p>
      </div>
      {% endif %}
      
      <div class="mb-4">
        <strong class="font-semibold">Id</strong><p>alvin-place:{{ metadata.id.0 }}</p>
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block jsbody %}
<script defer src="{% static 'js/map.js' %}" 
  data-latitude="{{ metadata.latitude.0 }}"
  data-longitude="{{ metadata.longitude.0 }}">
</script>
{% endblock %}