{% extends 'master.html' %}

{% load i18n static %}

{% block title %}Alvin - {{ metadata.main_title.display }}{{ metadata.authority_names.title }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">
{% endblock %}

{% block jshead %}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin="">
  </script>
{% endblock %}

{% block content %}

  <main
    class="min-h-screen w-full flex flex-col lg:flex-1 pt-4 pb-8 px-8"
    data-xdata="{ activeTab: 'overview', download: false }"
    data-xon.click.away="download = false">
    {% if value != None %}
    <a class="flex w-fit pb-2" href="{{ value }}">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="size-6">
        <title>{% translate 'Tillbaka till sökresultatet' %}</title>
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
      </svg>
      <span class="pl-2 uppercase">{% translate 'Tillbaka till sökresultatet' %}</span>
    </a>
    {% endif %}
    {% if metadata.files %}
    <aside class="w-full">
    <div class="w-full h-[60vh] lg:h-[70vh] bg-black rounded-lg shadow-inner" id="tify-viewer" data-manifest-url="{% url 'iiif_manifest' metadata.id %}"></div>

    <div id="thumbnail-strip" class="flex flex-row gap-3 overflow-x-auto py-4 px-2 mt-2 ods-thumbnail-strip">
    </div>
    </aside>
    <script src="{% static 'js/tify.js' %}"></script>
    {% endif %}
    <h1 class="text-2xl md:text-3xl font-bold py-2">{{ metadata.main_title.display }}{{ metadata.authority_names.title }}</h1>
    {% include './_partials/_render_record_icon.html' %}

    <div data-xdata="{ download_menu: false }" class="flex justify-between flex-row">

      <!-- Metadata views -->
      <nav class="flex flex-wrap gap-x-1 justify-start text-md text-black dark:text-white">
        <button data-xon.click="activeTab = 'overview'"
          class="dark:text-gray-200 cursor-pointer flex gap-x-1 h-full p-2 text-center hover:text-alvin"
          data-xbind.class="{ 'border-b-4 border-alvin': activeTab === 'overview' }">
          {% include './_icons/overview.svg' with class="h-6 w-6" %}
          <span class="max-sm:hidden">{% translate 'Översikt' %}</span>
        </button>
        <button data-xon.click="activeTab = 'all_metadata'"
          class="dark:text-gray-200 cursor-pointer flex gap-x-1 h-full p-2 text-center hover:text-alvin"
          data-xbind.class="{ 'border-b-4 border-alvin': activeTab === 'all_metadata' }">
          {% include './_icons/allmetadata.svg' with class="h-6 w-6" %}
          <span class="max-sm:hidden">{% translate 'All metadata' %}</span>
        </button>
        {% if metadata.components %}
        <button data-xon.click="activeTab = 'inventory'"
          class="dark:text-gray-200 cursor-pointer flex gap-x-1 h-full p-2 text-center hover:text-alvin"
          data-xbind.class="{ 'border-b-4 border-alvin': activeTab === 'inventory' }">
          {% include './_icons/inventory.svg' with class="h-6 w-6"  %}
          <span class="p:l max-sm:hidden">
            {% if metadata.type_of_resource.code == 'col' %}
              {% translate 'Förteckning' %}
            {% else %}
              {% translate 'Innehållsbeskrivning' %}
            {% endif %}
          </span>
        </button>
        {% endif %}

        {% if has_related %}
        <button data-xon.click="activeTab = 'related'"
          class="dark:text-gray-200 cursor-pointer flex gap-x-1 h-full p-2 text-center hover:text-alvin"
          data-xbind.class="{ 'border-b-4 border-alvin': activeTab === 'related' }">
          {% include './_icons/related.svg' with class="h-6 w-6" %}
          <span class="max-sm:hidden">{% translate 'Relaterat' %}</span>
        </button>
        {% endif %}
      </nav>
      
      <!-- Download och search tools -->
      <div class="flex flex-row gap-x-1">
        <button class="flex flex-row gap-x-1 h-10 dark:text-gray-200 cursor-pointer p-2 text-center hover:text-orange-600" data-xon.click="download = !download">
          <svg class="h-6 w-6" aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <title>{% translate 'Ladda ned' %}</title>
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 8.25H7.5a2.25 2.25 0 0 0-2.25 2.25v9a2.25 2.25 0 0 0 2.25 2.25h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25H15M9 12l3 3m0 0 3-3m-3 3V2.25" />
          </svg>
          <span class="max-lg:hidden">{% translate 'Ladda ned' %}</span>
        </button>
        {% if metadata.record_type != 'alvin-record' %}

        <form action="{% url 'alvin_search' %}" method="get">
          <input type="hidden" name="searchType" id="searchType" value="alvinRecord">    
          <input type="hidden" name="{{ metadata.record_type_stripped }}" id="{{ metadata.record_type_stripped }}" value="{{ metadata.id }}">
          <input type="hidden" name="view" id="view" value="list">
          <button type="submit" class="flex flex-row gap-x-1 h-10 dark:text-gray-200 cursor-pointer p-2 text-center hover:text-orange-600" data-xon.click="">
            <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none" stroke-width="1.5" stroke="currentColor">
              <title>{% translate 'Sök länkade poster' %}</title>
              <path stroke-linecap="round" stroke-linejoin="round"
                  d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
            </svg>
            <span class="max-lg:hidden">{% translate 'Länkade poster' %}</span>
          </button>
        </form>
        {% endif %}
      </div>
    </div>

    <!-- Metadata -->
    <dl class="block w-full border-y">
      {% if metadata.record_type == 'alvin-place' %}
      {% include './_partials/_alvin_place.html' %}
      {% elif metadata.record_type == 'alvin-person' %}
      {% include './_partials/_alvin_person.html' %}
      {% elif metadata.record_type == 'alvin-organisation' %}
      {% include './_partials/_alvin_organisation.html' %}
      {% elif metadata.record_type == 'alvin-location' %}
      {% include './_partials/_alvin_location.html' %}
      {% elif metadata.record_type == 'alvin-work' %}
      {% include './_partials/_alvin_work.html' %}
      {% elif metadata.record_type == 'alvin-record' %}
      {% include './_partials/_alvin_record.html' %}
      {% endif %}
    </dl>

    {% block jsbody %}
    {% endblock %}

    {% include './_partials/_download_menu.html' %}
  </main>

<script src="/static/js/clipboard.js-master/dist/clipboard.min.js"></script>
<script>
  var clipboard = new ClipboardJS('.btn');

  clipboard.on('success', function (e) {
    console.info('Action:', e.action);
    console.info('Text:', e.text);
    console.info('Trigger:', e.trigger);
  });

  clipboard.on('error', function (e) {
    console.info('Action:', e.action);
    console.info('Text:', e.text);
    console.info('Trigger:', e.trigger);
  });
</script>
{% endblock %}