{% extends 'master.html' %}

{% load i18n static render_record_icon %}

{% block title %}Alvin - {{ metadata.main_title.display }}{{ metadata.authority_names.title }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">
{% endblock %}

{% block jshead %}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin="">
  </script>
{% endblock %}

{% block content %}

  <main
    class="min-h-screen w-full flex flex-col bg-[#FAF9F6] text-[#333333] dark:text-white w-full lg:flex-1 pt-4 pb-8 px-8"
    data-xdata="{ activeTab: 'overview' }">
    {% if value != None %}
    <a class="flex w-fit pb-2" href="{{ value }}">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="size-6">
        <title>{% translate 'Tillbaka till sökresultatet' %}</title>
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
      </svg>
      <span class="pl-2 uppercase">{% translate 'Tillbaka till sökresultatet' %}</span>
    </a>
    {% endif %}
    {% if metadata.files %}
    <aside class="w-full h-[80vh]">
      <div class="w-full h-full" id="tify-viewer" data-manifest-url="{% url 'iiif_manifest' metadata.id %}"></div>
    </aside>
    <script type="module" src="{% static 'js/tify.js' %}"></script>
    {% endif %}
    <h1 class="text-2xl md:text-4xl font-bold pb-2">{{ metadata.main_title.display }}{{ metadata.authority_names.title }}</h1>
    <div class="flex w-full items-center mb-4 max-md:text-sm">
      {% render_record_icon metadata %}
    </div>

    <nav class="flex flex-wrap justify-start text-xl text-black dark:text-white">
      <button data-xon.click="activeTab = 'overview'"
        class="dark:text-gray-200 cursor-pointer flex h-full p-2 text-center bg-light-alvin hover:bg-gray-700 hover:text-white"
        :class="{ 'bg-alvin-green': activeTab === 'overview', 'bg-gray-200': activeTab != 'overview' }">
        <svg class="min-sm:pr-1 max-sm:visible" width="28px" height="28px" viewBox="0 0 24 24" fill="none"
          xmlns="http://www.w3.org/2000/svg" stroke-width="2">
          <path d="M3 13C6.6 5 17.4 5 21 13" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M12 17C10.3431 17 9 15.6569 9 14C9 12.3431 10.3431 11 12 11C13.6569 11 15 12.3431 15 14C15 15.6569 13.6569 17 12 17Z"
            fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          </path>
        </svg>
        <span class="max-sm:hidden">{% translate 'Översikt' %}</span>
      </button>
      <button data-xon.click="activeTab = 'all_metadata'"
        class="dark:text-gray-200 cursor-pointer flex h-full p-2 text-center bg-light-alvin hover:bg-gray-700 hover:text-white"
        :class="{ 'bg-alvin-green': activeTab === 'all_metadata', 'bg-gray-200': activeTab != 'all_metadata' }">
        <svg class="min-md:pr-1 min-sm:visible" width="28px" height="28px" stroke-width="2" viewBox="0 0 24 24"
          fill="none">
          <path d="M8 6L20 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          </path>
          <path d="M4 6.01L4.01 5.99889" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round">
          </path>
          <path d="M4 12.01L4.01 11.9989" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round">
          </path>
          <path d="M4 18.01L4.01 17.9989" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path d="M8 12L20 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          </path>
          <path d="M8 18L20 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          </path>
        </svg>
        <span class="max-sm:hidden">{% translate 'All metadata' %}</span>
      </button>

      {% if metadata.components %}
      <button data-xon.click="activeTab = 'inventory'"
        class="dark:text-gray-200 cursor-pointer flex h-full p-2 text-center bg-light-alvin hover:bg-gray-700 hover:text-white min-md:pr-1 min-sm:visible">
        <svg width="24px" height="24px" stroke-width="2" viewBox="0 0 24 24" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M3 5H11" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          <path d="M3 12H16" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          <path d="M3 19H21" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        <span class="p:l max-sm:hidden">
          {% if metadata.type_of_resource.code == 'col' %}
          {% translate 'Arkivförteckning' %}
          {% else %}
          {% translate 'Innehållsbeskrivning' %}
          {% endif %}
        </span>
      </button>
      {% endif %}

      <button data-xon.click="activeTab = 'related'"
        class="cursor-pointer flex h-full p-2 text-center bg-light-alvin hover:bg-gray-700 hover:text-white">
        <svg class="w-6 h-6" stroke="currentColor" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
          height="24" fill="none" viewBox="0 0 24 24">
          <title>{% translate 'Relaterat' %}</title>
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
            d="M13.213 9.787a3.391 3.391 0 0 0-4.795 0l-3.425 3.426a3.39 3.39 0 0 0 4.795 4.794l.321-.304m-.321-4.49a3.39 3.39 0 0 0 4.795 0l3.424-3.426a3.39 3.39 0 0 0-4.794-4.795l-1.028.961" />
        </svg>
        <span class="max-sm:hidden">{% translate 'Relaterat' %}</span>
      </button>
    </nav>

    <!-- Metadata -->
    <dl class="block w-full border-t">
      {% if metadata.record_type == 'alvin-place' %}
      {% include './_partials/_alvin_place.html' %}
      {% elif metadata.record_type == 'alvin-person' %}
      {% include './_partials/_alvin_person.html' %}
      {% elif metadata.record_type == 'alvin-organisation' %}
      {% include './_partials/_alvin_organisation.html' %}
      {% elif metadata.record_type == 'alvin-work' %}
      {% include './_partials/_alvin_work.html' %}
      {% elif metadata.record_type == 'alvin-record' %}
      {% include './_partials/_alvin_record.html' %}
      {% endif %}
    </dl>

    {% block jsbody %}
    {% endblock %}
  </main>

{% include './_partials/_search_related.html' %}

<script src="/static/js/clipboard.js-master/dist/clipboard.min.js"></script>
<script>
  var clipboard = new ClipboardJS('.btn');

  clipboard.on('success', function (e) {
    console.info('Action:', e.action);
    console.info('Text:', e.text);
    console.info('Trigger:', e.trigger);
  });

  clipboard.on('error', function (e) {
    console.info('Action:', e.action);
    console.info('Text:', e.text);
    console.info('Trigger:', e.trigger);
  });
</script>
{% endblock %}