{% extends 'base.html' %}

<!-- LOCALIZATION -->
{% load i18n static %}

<!-- HEAD ELEMENT -->
{% block head %}
<title>Alvin - {% translate 'Om Alvin' %}</title>
{% endblock %}

<!-- CONTENT -->
{% block content %}
<main class="bg-alvinGrey flex flex-col gap-y-8 min-h-screen p-4 border-x-4 border-x-black border-b-8 border-b-alvinGreen justify-center">
    <section>
        <h1></h1>
    </section>
</main>
<footer class="relative bg-black h-screen p-8">
    <p class="text-white font-universalis">{% translate 'Om Alvin' %}</p>
    <p class="text-white">{% translate 'Alvin är en plattform för publicering och långsiktigt bevarande av digitaliserat kulturarvsmaterial från biblioteks-, arkiv- och museisamlingar i Sverige och Norge.' %}</p>
    <a class="text-alvinOrange pt-9 pb-1" href="">{% translate 'Webbplatskarta' %}</a>
</footer>
{% endblock %}