{% extends 'base.html' %}

{% load static i18n %}

{% block head %}
<title>{% trans 'Alvin - Kontakt' %}</title>
{% endblock %}

{% block content %}

<main class="flex items-center justify-center min-h-screen">
  <article class="px-10 md:px-20 lg:px-40">
    <h1 class="text-4xl">{% trans 'Kontakt' %}</h1>
    <hr class="border-alvin-green">
    <div class="mt-5">
      <p class="mb-6">{% trans 'Har du frågor kring materialet som är publicerat i Alvin eller önskar beställa digitalisering, kontakta ' %}
        <a class="text-alvin-orange visited:bg-alvin-green" href="">{% trans 'respektive ägande institution' %}</a>.</p>
      <p class="mb-6">{% trans 'Frågor som rör registrering eller annan teknisk support i Alvin' %}:<br>
        <strong>{% trans 'E-post' %}:</strong> 
        <a class="text-alvin-orange" href="mailto:alvin-support@ub.uu.se?subject=G%C3%A4llande%20Alvin">alvin-support@ub.uu.se</a>
      </p>
      <p>{% trans 'För andra frågor om Alvin, konsortiet eller publicering av ett digitalt kulturarv, kontakta Uppsala universitetsbibliotek genom' %}:</p><br>
      <p>Kent-Inge Andersson<br>
        <strong>{% trans 'E-post' %}:</strong> <a class="text-alvin-orange" href="mailto:kent-inge.andersson@ub.uu.se">kent-inge.andersson@ub.uu.se</a>
      </p>
    </div>
  </article>
</main>

{% endblock %}