           <nav class="hidden flex-grow md:block px-4 pb-4 md:pb-0 md:overflow-y-auto">    
          <a class="block px-4 py-2 mt-2 text-sm font-normal text-gray-900 bg-gray-100 rounded-lg hover:bg-dark-alvin hover:text-white focus:bg-blue-800 focus:text-white focus:outline-none focus:shadow-outline" href="#background">{% translate 'Bakgrund och historik' %}</a>
          <a class="block px-4 py-2 mt-2 text-sm font-normal text-gray-900 bg-gray-100 rounded-lg hover:bg-dark-alvin hover:text-white focus:bg-blue-800 focus:text-white focus:outline-none focus:shadow-outline" href="#reference">{% translate 'Referensmodell' %}</a>
          <a class="block px-4 py-2 mt-2 text-sm font-normal text-gray-900 bg-gray-100 rounded-lg hover:bg-dark-alvin hover:text-white focus:bg-blue-800 focus:text-white focus:outline-none focus:shadow-outline" href="#metadata">{% translate 'Metadata' %}</a>
          <a class="block px-4 py-2 mt-2 text-sm font-normal text-gray-900 bg-gray-100 rounded-lg hover:bg-dark-alvin hover:text-white focus:bg-blue-800 focus:text-white focus:outline-none focus:shadow-outline" href="#accessibility">{% translate 'Tillgänglighet' %}</a>     
        </nav> 


	<!-- Mobile menu -->
        <nav class="block sm:hidden flex-grow px-4 pb-4">  
          <a class="block px-4 py-2 mt-2 text-sm font-normal text-gray-900 bg-gray-100 rounded-lg hover:bg-dark-alvin hover:text-white focus:bg-blue-800 focus:text-white focus:outline-none focus:shadow-outline" href="#background">{% translate 'Bakgrund och historik' %}</a>
          <a class="block px-4 py-2 mt-2 text-sm font-normal text-gray-900 bg-gray-100 rounded-lg hover:bg-dark-alvin hover:text-white focus:bg-blue-800 focus:text-white focus:outline-none focus:shadow-outline" href="#reference">{% translate 'Referensmodell' %}</a>
          <a class="block px-4 py-2 mt-2 text-sm font-normal text-gray-900 bg-gray-100 rounded-lg hover:bg-dark-alvin hover:text-white focus:bg-blue-800 focus:text-white focus:outline-none focus:shadow-outline" href="#metadata">{% translate 'Metadata' %}</a>
          <a class="block px-4 py-2 mt-2 text-sm font-normal text-gray-900 bg-gray-100 rounded-lg hover:bg-dark-alvin hover:text-white focus:bg-blue-800 focus:text-white focus:outline-none focus:shadow-outline" href="#accessibility">{% translate 'Tillgänglighet' %}</a>     
        </nav>    