<a class="shadow-md hover:shadow-lg p-4 bg-white rounded block px-4 py-2 mt-2 text-sm font-normal text-gray-900 rounded-lg focus:outline-none focus:shadow-outline" href="/alvin-record/{{record.identifier}}">
    <div class="flex flex-col-reverse md:flex-row w-full flex flex-col sm:flex-row-reverse sm:flex-nowrap">
     <div class="flex h-64 flex-wrap w-full content-center gap-3 rounded-lg bg-gray-100 p-2">
  <div class="h-20 w-72 rounded bg-purple-500 p-4 text-white">Item 1</div>
  <div class="h-20 w-72 rounded bg-pink-500 p-4 text-white">Item 2</div>
  <div class="h-20 w-72 rounded bg-indigo-500 p-4 text-white">Item 3</div>
</div>   

<div class="flex flex-col max-w-150">
            <div class="w-full font-semibold text-gray-700">
<span class="uppercase">
            {% if LANGUAGE_CODE == "en" %}
                {% if record.locationen != None %}{{record.locationen}} 
                {% else %}
                    {{record.locationsv}}
                {% endif %} 
            {% endif %} 
            {% if LANGUAGE_CODE == "no" %}
                {% if record.locationno != None %} 
                    {{record.locationno}} 
                {% else %}
                   {{record.locationsv}} 
                {% endif %} 
            {% endif %} 
            {% if LANGUAGE_CODE == "sv" %}
                {{record.locationsv}} 
            {% endif %} 
</span>
{% if record.shelfmark != None %}
 {{record.shelfmark}} 
{% endif %} 
            </div>
            <div class="pt-2 font-semibold text-blue-800 underline text-base md:w-200 w-full max-w-3/4 truncate">
               {{record.title}} {% if record.subtitle != None %} : {{record.subtitle}} {% endif %} 
            </div>
<div> {% if record.namefamily != None %}{{record.namefamily}}{% if record.familyName != None %} (family){% endif %}{% if record.namegiven != None %}, {% endif %}{% endif %}
    {% if record.namegiven != None %}{{record.namegiven}}{% endif %}{% if record.namenumeration != None %} {{record.namenumeration}}{% endif %}{% if record.nametermsOfAddress != None %}, {{record.nametermsOfAddress}}{% endif %}
{% if record.namefamilytwo != None %}et al.{% endif %}
</div>
<div>
{% if record.yearone != None %}
{{record.yearone}}{% endif %}{% if record.yeartwo != None %}-{{record.yeartwo}}
{% endif %}
{% if record.displaydate != None %}
[{{record.displaydate}}]
{% endif %}

</div>
        <div class="mt-auto w-full flex pt-2">
{% if record.file_count > 0 %}
<img src="/static/img/rights/{{record.rights}}.svg" width="88" height="31">
{% else %}
<div class="bg-red-500 text-white font-bold uppercase px-4 pt-1">No files</div>
{% endif %}

<div class="pt-1 pl-2 uppercase">{{record.file_count}} file(s)</div>
<div class="pt-1 pl-4"><img src="/static/img/recordTypes/{{record.typeofresource}}.svg"></div> 
<div class="pt-1 pl-2">TEXT</div> 
</div>
</div>


<div class="bg-gray-700 flex items-end md:h-36 md:w-36">


{% if record.file != None %}
<img class="w-36 h-36 object-contain mx-auto" src="https://preview.alvin.cora.epc.ub.uu.se/iiif/{{record.file}}/full/300,/0/default.jpg">


{% endif %}
</div>

  </div>
</a>

