{% load i18n static %}
<a class="flex items-center border-2 border-blue-200 shadow-md shadow-blue-200/70 hover:shadow-lg/100 mt-4 p-4 bg-white dark:bg-gray-800 rounded block px-4 py-2 mt-2 text-sm font-normal text-gray-900 rounded-lg focus:outline-none focus:shadow-outline" href="/alvin-work/{{record.identifier}}">
    <img class="fill-current bg-white dark:bg-off-white w-6 h-6" alt="{% translate 'Work' %}" src="/static/img/authorityTypes/work.svg">
    <div class="py-2 px-2 font-semibold text-blue-800 dark:text-blue-200 underline text-base {% if view == 'grid' %}md:w-42 md:text-sm{% endif %}">
        {{record.title|truncatechars:100 }}
    </div>
</a>

