{% load i18n static metadata_wrangler %}

<!-- Metadata -->
{% for organisation in page_obj %}
<a href="{{ organisation.id }}">
    <li class="flex justify-start my-1 p-4 bg-[#fcfcfc] hover:border-[#F2F4F8] hover:shadow-xl shadow-inner transition-shadow ease-in-out duration-150">
        <article>
            <div class="flex gap-x-2 items-center">
                <img class="w-7 h-full" src="/static/img/authorityTypes/organisation.svg" alt="{% translate 'Kartnål' %}">
                 <!-- Huvudtitel -->
                <div>   
                    <h1 class="block w-full text-alvinOrange text-xl font-semibold">{{ organisation|alvin_title:record_type }}</h1>
                    {% for name in organisation.variant_names %}
                        <h2 class="block w-full text-gray-600">{{ name|alvin_organisation_name }}</h2>
                    {% endfor %}
                </div>
            </div>
        </article>
    </li>
</a>
{% endfor %}
