<div id="readspeaker-content">
    <!-- index_start -->
    <div> </div>
    <div class="puff-container is-full-width number-of-slots-3 nocontent">
        <div class="container module-group">
            <section class="module unit puff-image" aria-label="Det här är Alvin">
                <div class="module-header bg-dark-solid">
                    <h2>Det här är Alvin</h2>
                </div>
                <img src="{% static 'img/c_775214-l_3-k_imagepuff.jpg' %}"
                    alt="Porträtt av tre välklädda musiker">
                <div class="module-content has-description">
                    <div class="description bg-dark-trans">
                        <p>Få reda på mer om Alvins bakgrund och tekniska lösningar.</p>
                    </div>
                    <div class="link bg-dark-trans">
                        <p><a href="om-alvin.html">Om Alvin</a></p>
                    </div>
                </div>
            </section>
            <section class="module unit puff-image" aria-label="Söka och ladda ner">
                <div class="module-header bg-dark-solid">
                    <h2>Söka och ladda ner</h2>
                </div>
                <img src="{% static 'img/c_775208-l_3-k_imagepuff.jpeg' %}"
                    alt="Skäggig man röker en cigarett medan han tittar i en kikare">
                <div class="module-content has-description">
                    <div class="description bg-dark-trans">
                        <p>Få tips och tricks på hur du kan söka reda på och ladda ned material
                            ifrån Alvin.</p>
                    </div>
                    <div class="link bg-dark-trans">
                        <p><a href="soktips.html">Söktips</a></p>
                    </div>
                </div>
            </section>
            <section class="module unit puff-image" aria-label="Upphovsrätt">
                <div class="module-header bg-dark-solid">
                    <h2>Upphovsrätt och användning</h2>
                </div>
                <img src="{% static 'img/c_775212-l_3-k_imagepuff.jpg' %}"
                    alt="Äldre porträttfotografi på uniformerad polis med mustasch">
                <div class="module-content has-description">
                    <div class="description bg-dark-trans">
                        <p>Få reda på vad som egentligen gäller för det material du hittar i Alvin.
                        </p>
                    </div>
                    <div class="link bg-dark-trans">
                        <p><a href="upphovsratt.html">Upphovsrätt</a></p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>