{% extends 'base.html' %}

{% load static %}

{% block head %}
<title>Alvin - Start</title>
{% endblock %}

{% block content %}
<main class="mt-20 flex items-center justify-center bg-gradient-to-r from-alvinGreen to-alvinOrange bg-center h-screen">
    <search>

        <form action="https://www.alvin-portal.org/alvin/resultList.jsf?faces-redirect=true&amp;includeViewParams=true&amp;searchType=EXTENDED">
                <input id="mainSearchField" class="autocomplete__input autocomplete__input--default"
                    name="query" type="text" placeholder="Sök i Alvin">
        </form>

        <div class="main-content page-content-fullwidth">
            <div id="xp1" class="rs_addtools rs_splitbutton rs_preserve rs_skip container">
                <button type="button" class="rsbtn_tooltoggle" title="Open/close toolbar" style="display:none"
                    aria-expanded="false" data-rs-container="xp1" data-rsevent-id="rs_469097" accesskey="1"><i
                        class="rsicn rsicn-arrow-down" aria-hidden="true"></i><span class="rsbtn_btnlabel"
                        style="width: 0px; height: 0px;">Open/close toolbar</span>
                </button>
            </div>
        </div>
    </search>
</main>
<footer>Footer börjar här</footer>
{% endblock %}