{% extends 'base.html' %}

<!-- LOCALIZATION -->
{% load i18n %}

<!-- STATIC -->
{% load static %}

<!-- HEAD ELEMENT -->
{% block head %}
<title>Alvin - Start</title>
{% endblock %}

<!-- CONTENT -->
{% block content %}
<main class="bg-alvinGrey">
    <section class="flex flex-col bg-[url('/static/img/cartamarina.webp')] bg-center items-center justify-center min-h-screen border-x-4 border-x-black border-b-8 border-b-alvinGreen space-y-4">
        <h1 class="mb-4 text-7xl max-sm:text-5xl break-words text-[#FAFAFA] text-center drop-shadow-[_0_3px_0_#36454F]">
            {% translate 'Digitaliserade samlingar från nordiska kulturarvs&shy;institutioner' %}
        </h1>
        <search class="flex w-4/5 sm:w-1/2 overflow-hidden">
            <form class="flex w-full" action="https://www.alvin-portal.org/alvin/resultList.jsf?faces-redirect=true&amp;includeViewParams=true&amp;searchType=EXTENDED">
                <input class="flex-grow p-3 border-4 border-black focus:border-black focus:outline-none border-black focus:ring-0"
                    name="query" type="text" placeholder="{% translate 'Sök i Alvin...' %}">
                <button class="flex-none p-4 bg-black hover:text-alvinOrange text-white font-universalis focus:outline-none focus:ring-0 ease-in-out duration-300" type="submit">{% translate 'Sök' %}</button>
            </form>
        </search>
    </section>
</main>
<footer class="relative bg-black h-screen p-8">
    <p class="text-white font-universalis">{% translate 'Om Alvin:' %}</p>
    <p class="text-white">{% translate 'Alvin är en plattform för publicering och långsiktigt bevarande av digitaliserat kulturarvsmaterial från biblioteks-, arkiv- och museisamlingar i Sverige och Norge.' %}</p>
    <a class="text-alvinOrange pt-9 pb-1  border-b-8 {% if request.resolver_match.url_name == 'webbplatskarta' %}border-b-alvinGreen{% else %}border-b-transparent{% endif %}" href="{% url 'webbplatskarta' %}">{% translate 'Webbplatskarta' %}</a>    
</footer>
{% endblock %}