{% extends 'base.html' %}

{% load static %}

{% block head %}
<title>Alvin - {{ metadata.authority_names.0 }}</title>
{% endblock %}

{% block jshead %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
{% endblock %}

{% block content %}
<main class="mt-20">
  <nav class="text-sm ml-4">
    <a href="{% url 'start' %}" class="text-alvinGreen hover:text-alvinOrange">..</a>
    <span class="mx-1">/</span>
    <a href="{% url 'alvin_place_list' %}" class="text-alvinGreen hover:text-alvinOrange">Platser</a>
    <span class="mx-1">/</span>
    <span>{{ metadata.authority_names.0 }}</span>
  </nav>

  <div class="flex items-center justify-center">


    <div class="w-3/5 px-4 border-x-2">
      <h1 class="text-4xl font-universalis font-bold mt-4 mb-4">{{ metadata.authority_names.0 }}</h1>
      <div class="flex items-center mb-4">
        <img src="{% static 'img/place.svg' %}" alt="Place Icon" class="w-6 h-6 mr-2">
        <span class="font-semibold">Plats</span>
      </div>
      {% if metadata.variant_names %}
      <div class="mb-4">
        <strong class="font-semibold">Alternativa namnformer</strong>
        <ul class="list-none">
          {% for variant_name, lang in metadata.variant_names %}
          <li class="list-outside">{{ variant_name }} ({{ lang }})</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      {% if metadata.country %}
      <div class="mb-4">
        <strong class="font-semibold">Land</strong>
        <p>{{ metadata.country.0 }}</p>
      </div>
      {% endif %}
      {% if metadata.latitude and metadata.longitude %}
      <div class="mb-4">
        <strong class="font-semibold">Karta</strong>
        <div class="h-[400px] border-alvinOrange border-2" id="map"></div>
      </div>
      {% endif %}
    </div>
  </div>
</main>
{% endblock %}

{% block jsbody %}
<script src="{% static 'js/map.js' %}" data-latitude="{{ metadata.latitude.0 }}"
  data-longitude="{{ metadata.longitude.0 }}"></script>
{% endblock %}