
/* ---------------------------------------------------- */
/* CSS THEME- ALVIN CSS FOR UPPSALA UNIVERSITET	  */
/* ---------------------------------------------------- */
#scrollToTop{
background-image:url('../img/top-icon.png');
position:fixed;
bottom:50px;
left:81%;
z-index:99;
background-size:contain;
display:none;
height:74px;
text-decoration:none;
transition:transform 0.2s;
width:74px;
cursor:pointer;
background-color:transparent;
border:0;
}

#scrollToTop:hover{
animation-name:bounce;
animation-timing-function:ease;
animation-duration:1s;
animation-iteration-count:1;
background-color:transparent;
text-decoration:none;
}

#scrollToTop:focus:not(.btn-disabled),
button:focus{
outline:3px solid #89b9ea;
outline-offset:3px;
z-index:1;
}


@keyframes bounce {
0%   { transform: translateY(0); }
20%  { transform: translateY(-20px); }
100% { transform: translateY(0); }
}



.sub {
text-align:left;
float:left;
margin-top:88px;
margin-left:4px;
text-transform: uppercase;
color: #808080;
font-weight:bold;
}

.show {display: block;}

.left-nav-heading-unskew-nolink {
color: #000;
font-weight: bold;
margin-left: 0;
padding: 15px 28px;
display: block;
text-decoration: none;
transform: skewX(15deg);
font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
font-size: 0.95rem;
text-transform: uppercase;
    
}

.place-list {
    list-style-type: none;
    padding: 0;
}

.place-list li {
    padding: 10px 0px 10px 0px;
    border-bottom: 1px dotted #ddd;
}

.pagination a.active {
    background-color: #7fbfa7;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}