* {
  box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  /* For IE 6/7 */
}
.divMenuContainer1
{
    border: solid 0px black;
    background: #FFFFFF;
}
.divMenuBlankLeftRight
{
    float: left;
    width: 50px;
    background: #FFFFFF;
}
.divMenuCenterContainer
{
    margin-left: 10%;
    width: 90%;
    background: #00FF00;
    text-align: left;
    border: solid 1px black;
}
.divMenuMiddleElement
{
    float: left;
    width: 70%;
    background: #00FF00;
}

.divMenuRightElement
{
    float: left;
    width: 20%;
    background: #00FFFF;

}