/* ---------------------------------------------
BASE CSS (CUSTOM SITES) FOR UPPSALA UNIVERSITET
- Contains default styling for elements
--------------------------------------------- */
body {
background-image: none;
}
h1, h2, h3, h4, h5, h6 {
font-family: sans-serif;
text-transform: none;
}

h1,
h2 {
font-weight: normal;
margin: 0;
margin-bottom: 13px;
padding-bottom: 10px;
}
h1 {
font-family: "BerlingRoman", serif;
}
h2 {
font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
text-transform: uppercase;
}
/* ---------------------------------------------
CSS HEADER (CUSTOM SITES) FOR UPPSALA UNIVERSITET
- Contains styling of header
--------------------------------------------- */
.header-element {
background-color: #fff;
}
.logo {
max-height: 95px;
position: relative;
top: 0;
width: auto;

}
.logo-wrap {
float: left;
margin-top: 19px;
}
header .top-nav.first-level {
margin: 0;
}
.top-nav-wrap {
float: right; 
width: auto;
}
.top-nav li {
background: none;
display: inline-block;
float: none;
margin-left: 14px;
padding-left: 14px;
}
.top-nav a,
.top-nav .active a,
.top-nav a:hover {
border-bottom-width: 2px; 
}
.searchForm,
.search-group {

}
.search input.submit-icon {
background: #fff url('/img/icon-search-custom.png') 4px 4px no-repeat;
background-size: 27px;
border: 0;
transform: none;
transition: all 0.2s;
}
.search input.submit-icon:hover {
-webkit-filter: invert(100%);
filter: invert(100%); 
}
.search {
top: 20px;
}
.tt-dropdown-menu {
display: none !important;
}
.mobile-search input[type="submit"] {
top: 5px;
}
.mobile-search-container {
top: 0;
}
.mobile-search input[type="search"] {
top: 6px !important;
}
.local-nav-mobile-header {
border-top: none;
margin-top: 12px;
}
/* ---------------------------------------------
CSS FOOTER (CUSTOM SITES) FOR UPPSALA UNIVERSITET
- Contains styling of footer
--------------------------------------------- */
.bg-city,
.footer-stripe {
display: none
}
.footer-element {
background-color: #ddd; 
background-image: none;
color: #000;
border-top: 1px solid #ccc;
}
.footer-element h3 {
margin-top: 30px;
}
.footer-element::before {
height: 0;
}
.footer-element a {
color: #000;
}
.footer-content-wrap {
color: #000;
}
.footer-goto-top {
background-color: #333;
}
.footer-goto-top:hover {
background-color: #222;
}
a.footer-goto-top {
color: #fff;
padding: 15px 0;
text-decoration: none;
}
a.footer-hosted-by-uu {
background: rgba(242, 242, 242, 0.7);
border-radius: 50%;
box-sizing: border-box;
font-weight: normal;
height: 14vw;
padding: 1.5vw;
position: absolute;
bottom: 2vw;
right: 2vw;
text-align: center;
text-decoration: none;
width: 14vw;
}
a.footer-hosted-by-uu:hover {
background: rgba(242, 242, 242, 0.9);
}
.footer-hosted-by-uu-logo {
display: block;
height: 5vw;
margin: 0.5vw auto 0;
}
.footer-hosted-by-uu-text {
color: #000;
display: block;
font-size: 0.9vw;
margin-top: 2vw;
}
.show-hosted-by-uu .footer-goto-top {
box-sizing: border-box;
height: 8vw;
}
.show-hosted-by-uu .footer-goto-top span {
padding: 0;
}
.show-hosted-by-uu .footer-content-wrap {
padding-bottom: 7vw;
}
/* -------------------------------------- */
/* NEW VISUAL GUIDELINES CUSTOM SITE BASE */
/* -------------------------------------- */
.header-element {
margin-top: 0;
}
#global-navigation {
margin-left: 0;
}
.logo-wrap {
left: 0;
}
.footer-element {
padding-top: 0;
}
.footer-element a {
font-weight: bold;
}
a.footer-hosted-by-uu {
font-weight: normal;
}
.footer-element:before {
display: block;
}
h2 {
text-transform: uppercase;
}
/* ---------------------------------------------------- */
/*	CSS ARTICLE (CUSTOM SITES) FOR UPPSALA UNIVERSITET 	*/
/*	- Contains rules to style wide puff and wide puff	*/
/* ---------------------------------------------------- */
.notice {
background: #FFF;
border: 1px solid #EEE;
border-top: none;
}
.notice-header {
background: transparent;
border-top: 5px solid #EEE;
box-sizing: border-box;
color: #000;
font-size: 1.25rem;
margin: 0;
max-width: none;
min-height: 0;
padding: 0.5em 15px 0 15px;
width: 100%;
}
.notice-content {
box-sizing: border-box;
margin: 0;
padding: 0 15px;
width: 100%;
}
.notice-content ul {
padding-left: 20px;
}
/* ---------------------------------------------------- */
/*	CSS LIST (CUSTOM SITES) FOR UPPSALA UNIVERSITET 		*/
/* ---------------------------------------------------- */
.news-list-container h2 {
border-bottom: 1px solid #7f7f7f;
}
.list-item h3, 
.list-nyhetsbanken li .news-title {
text-transform: none;
color: #000;
}
.list-item a,
.list-nyhetsbanken li a {
padding-left: 0;
padding-right: 0;
}
/* ---------------------------------------------------- */
/*	CSS LEFT NAVIGATION (CUSTOM SITES) FOR UPPSALA UNIVERSITET 		*/
/*	- Contains rules to style the left navigation 	*/
/* ---------------------------------------------------- */
.l-left-nav-wrap {
background-color: #fff;
outline: none;
}
.left-nav > ul {
margin-left: 0;
margin-right: 24px;
}
.left-nav a {
margin-left: 0;
padding-left: 10px;
}
.left-nav li a {
border-right: none;
}
.left-nav ul ul {
margin: 0;
}
.left-nav ul ul li {
border-right: 0;
}
.left-nav ul ul a {
padding-left: 40px;
}
.left-nav ul ul ul a {
padding-left: 80px;
}
.left-nav li.active li a {
background-color: #fff;
}
.left-nav ul a:hover,
.left-nav li.active li a:hover {
background-color: #F6F5F5;
}
.left-nav-heading {
background-color: #f3f3f3;
left: -18px;
top: 0;
transform: skewX(-15deg);
}
.left-nav-heading-unskew {
transform: skewX(15deg);
}
.left-nav-heading a {
color: #000;
margin-left: 0;
padding: 15px 28px;
}
.local-nav-mobile-header {
background-color: #EEE;
}
.local-nav-mobile-icon, 
.local-nav-mobile-icon:hover {
background-image: url('../img/mobile-menu-icon.png');
background-repeat: no-repeat;
background-size: 20px;
width: 45px;
height: 50px;
transform: rotate(0deg);
}
.local-nav-mobile-menu-icon {
display: none;
}
/* ---------------------------------------------------- */
/*	CSS PAGE TOOLS (CUSTOM SITES) FOR UPPSALA UNIVERSITET 		*/
/*	- Contains rules to style the top and bottom page tools 	*/
/* ---------------------------------------------------- */
.page-tool.listen {
display: none;
}
/* ---------------------------------------------------------------- */
/*	CSS PUFF IMAGE WIDE (CUSTOM SITES) FOR UPPSALA UNIVERSITET 		*/
/*	- Contains rules to style wide puff 							*/
/* ---------------------------------------------------------------- */
.no-menu .wide-puff {
height: auto;
overflow: visible;
width: 100%;
}
.no-menu .wide-puff .main-image {
height: auto;
position: relative;
width: 100%;
}
.no-menu .wide-puff-image img {
float: none;
height: auto;
width: 100%;
}
.no-menu .wide-puff .wide-puff-links {
margin: auto;
position: absolute;
top: 0;
transform: translate(-370px, 2vw);
width: 400px;
}
.no-menu .wide-puff-info {
height: auto;
margin: auto;
overflow: hidden;
position: absolute;
bottom: 2vw;
left: 0;
right: 0;
top: auto;
transform: translate(310px, 0);
width: 500px;
}
.no-menu .wide-puff-info p {
margin-bottom: 1.15vw;
}
.no-menu .wide-puff .wide-puff-links a {
display: block;
margin-bottom: 8px;
padding: 0.3vw 0.9vw;
}
.no-menu .wide-puff .wide-puff-links p {
clear: both;
display: inline-block;
float: left;
margin-bottom: 0;
}
.no-menu .wide-puff-header {
line-height: 1.1458333333333333333333333333333;
padding: 1vw 0;
margin-bottom: 0;
}
.wide-puff-header {
text-transform: none;
}
.no-menu .wide-puff-style-image-right .wide-puff-info {
background: rgba(0, 0, 0, 0.8);
border-right: none;
}
.wide-puff .wide-puff-info .read-more {
padding-left: 2.1%;
padding-right: 2.1%;
}
.wide-puff .wide-puff-info .read-more,
.wide-puff .wide-puff-info .read-more:hover {
background: #e5e5e5 url('/digitalAssets/207/c_207717-l_3-k_big-link-arrow.svg') bottom right no-repeat;
background-size: 56px;
}
.wide-puff .wide-puff-info .read-more:hover {
background-color: #ccc;
}
.wide-puff .wide-puff-info .read-more {
left: -1.25em !important;
margin: 0;
padding-left: 1.25em;
padding-right: 1.25em;
right: -1.25em;
width: 100%;
}
/* ---------------------------------------------------- */
/*	CSS PUFF MODULES FOR UPPSALA UNIVERSITET 			*/
/*	- Contains rules to style all types of puff modules	*/ 
/*	(image, calendar, newslist, call-to-action) 		*/
/*	and the puff container for custom sites. 			*/
/* ---------------------------------------------------- */
.no-menu .puff-container .container {
padding: 30px 0;
}
.puff-container .module {
flex: 1;
height: auto;
}
.module-group {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}
.module-group::before {
-webkit-flex-basis: 0;
-ms-flex-preferred-size: 0;
flex-basis: 0;
}
.componentDiv .module-group {
display: block;
}
.module {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-flex: 1;
-webkit-flex-grow: 1;
-ms-flex-positive: 1;
flex-grow: 1;
}
.module-rss {
line-height: 1.25em;
}
.number-of-slots-3 .module,
.number-of-slots-2 .module {
max-width: none;
}
.number-of-slots-3 .module ul {
-webkit-box-flex: 1;
-webkit-flex-grow: 1;
-ms-flex-positive: 1;
flex-grow: 1;
height: auto;
}
.module-calendar .link, 
.module-list .link {
position: relative;
}
.puff-image > img {
height: auto;
min-height: 1px; /* Fixes IE11 bug */ 
-webkit-box-ordinal-group: 2; 
-webkit-order: 1; 
-ms-flex-order: 1; 
order: 1;
}
.puff-image .module-header {
-webkit-box-ordinal-group: 3;
-webkit-order: 2;
-ms-flex-order: 2;
order: 2;
}
.puff-block .module-header {
-webkit-box-ordinal-group: initial;
-webkit-order: initial;
-ms-flex-order: initial;
order: initial;
}
.puff-image .module-content {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex; 
-webkit-box-orient: vertical; 
-webkit-box-direction: normal; 
-webkit-flex-direction: column; 
-ms-flex-direction: column; 
flex-direction: column;
-webkit-box-flex: 1;
-webkit-flex-grow: 1;
-ms-flex-positive: 1;
flex-grow: 1;
-webkit-box-ordinal-group: 4;
-webkit-order: 3;
-ms-flex-order: 3;
order: 3;
position: relative;
}
.puff-image .module-content.no-description {
flex-direction: column-reverse;
}
.puff-image .description {
-webkit-box-flex: 1;
-webkit-flex-grow: 1;
-ms-flex-positive: 1;
flex-grow: 1;
}
.module .module-header {
background: #fff;
color: #000;
}
.module-content .description a {
color: initial;
}
.module-header {
min-height: 0;
}
.module-header-icon {
display: none;
}
.module h2, 
.module h3,
.module h2.image-puff-header,
.module h3.image-puff-header {
line-height: 1.5em;
padding-left: 10px;
text-transform: none;
}
.image-video-slider .slides > li {
height: auto;
max-height: none;
}
.image-video-slider .puff-image,
.image-video-slider .slides img {
height: auto;
width: 100%;
}
.image-video-slider .puff-image .module-content {
position: absolute;
bottom: 0;
}
/* ----------------------------------------- */
/* NEW VISUAL GUIDELINES CUSTOM SITE MODULES */
/* ----------------------------------------- */
.scroll-to-top-link {
bottom: 50px;
}
/* ---------------------------------------------------- */
/* CSS LAPTOP DESKTOP (CUSTOM SITES) FOR UPPSALA UNIVERSITET		*/
/* - Contains styles for screens smaller than 1200px */
/* ---------------------------------------------------- */
@media only screen and (max-width: 1200px) {
header .top-nav-wrap {
margin-top: 88px;
width: auto;
}
.no-menu .wide-puff img {
max-height: none;
}
.no-menu .wide-puff-info,
.no-menu .wide-puff .wide-puff-links {
transform: none;
}
.no-menu .wide-puff-info {
font-size: 1.35vw;
left: auto;
right: 8vw;
width: 37vw;
}
.no-menu .wide-puff .wide-puff-links {
font-size: 1.35vw;
bottom: auto;
left: 8vw;
top: 2vw;
margin: 0;
}
}
/* ---------------------------------------------------- */
/* CSS TABLET LANDSCAPE (CUSTOM SITES) FOR UPPSALA UNIVERSITET 		*/
/* - Breakpoint: 1024px */
/* ---------------------------------------------------- */
@media only screen and (max-width: 1024px) {
header .top-nav.first-level {
display: none;
}
.l-article-wrap {
width: 100%;
}
.no-menu .wide-puff .main-image {
margin-left: -10%;
width: 120%;
}
.no-menu .wide-puff .main-image .wide-puff-image {
height: auto;
padding-bottom: 20px;
}
.no-menu .wide-puff .main-image img {
height: auto;
width: 100%;
}
.no-menu .wide-puff .wide-puff-links {
left: 12vw;
width: 37vw;
}
.no-menu .wide-puff-info {
bottom: -1vw;
font-size: 1.5vw;
right: 2vw;
width: 46vw;
}
}
/* ----------------------------------------------------			*/
/* CSS TABLET PORTRAIT, PHONE LANDSCAPE (CUSTOM SITES) FOR UPPSALA UNIVERSITET	*/
/* - Contains styles for screens smaller than 766px				*/
/* ----------------------------------------------------			*/
@media only screen and (max-width: 766px) {
.logo {
max-height: 68px;
}
.no-menu .wide-puff .main-image {
margin-left: -20%;
width: 140%;
}
.no-menu .wide-puff .main-image .wide-puff-image img {
height: 231px;
width: auto;
max-width: none;
}
.no-menu .wide-puff .main-image .wide-puff-image {
padding-bottom: 0;
}
.no-menu .wide-puff-info,
.no-menu .wide-puff .wide-puff-links {
font-size: 1em;
}
.no-menu .wide-puff .wide-puff-links {
font-size: 0.8em;
position: absolute;
left: 23vw;
width: 400px;
}
.no-menu .wide-puff-info {
box-sizing: border-box;
position: relative;
left: 0;
right: 0;
top: -.25em;
width: 100%;
}
.no-menu .wide-puff-info > * {
float: none;
width: 100%;
max-width: 500px;
}
.no-menu .wide-puff-info p {
margin-bottom: 1em;
}
.no-menu .wide-puff .wide-puff-links {
position: absolute;
left: 23vw
}
.no-menu .wide-puff-header {
padding: 2vw 0;
}
.module-group {
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
max-width: 360px; 
}
.number-of-slots-3 .module, 
.number-of-slots-4 .module,
.module.size1of2, 
.number-of-slots-2 .module {
width: auto;
}
.number-of-slots-2 .call-to-action-puff {
display: block;
width: 100%;
}
.number-of-slots-3 .module, 
.number-of-slots-4 .module {
margin-left: 0;
margin-right: 0;
}
.show-hosted-by-uu .footer-goto-top {
height: 12vw;
padding: 2vw 0;
}
a.footer-hosted-by-uu {
height: 25vw;
padding: 2vw;
bottom: 2vw;
right: 2vw;
width: 25vw;
}
.footer-hosted-by-uu-logo {
height: 11vw;
margin: 0.5vw auto 0;
}
.footer-hosted-by-uu-text {
font-size: 1.9vw;
margin-top: 3vw;
}
}
/* ---------------------------------------------------- */
/* CSS TABLET SMALL FOR UPPSALA UNIVERSITET 			*/
/* - Contains styles for screens smaller than 550px 	*/
/* ---------------------------------------------------- */ 
@media only screen and (max-width: 550px) {
.puff-container .module-group {
width: auto;
}
.no-menu .page-tools-top {
margin: 10px 0;
width: 97% !important;
}
}
/*	---------------------------------------------------	*/
/*	CSS PHONE PORTRAIT FOR UPPSALA UNIVERSITET			*/
/*	Contains styles for screens smaller than 480px		*/
/*	---------------------------------------------------	*/
@media only screen and (max-width: 480px) {
.no-menu .wide-puff .main-image {
width: 160%;
margin-left: -11%;
}
.no-menu .wide-puff .main-image .wide-puff-image img {
max-width: 100%;
height: auto;
}
.no-menu .wide-puff .wide-puff-links {
max-width: 60%;
position: absolute;
left: 9%;
}
.show-hosted-by-uu .footer-goto-top {
height: 14vw;
padding: 2vw 0;
}
.show-hosted-by-uu .footer-goto-top span {
margin: 0;
}
a.footer-hosted-by-uu {
height: 32vw;
padding: 4vw;
bottom: 2vw;
right: 2vw;
width: 32vw;
}
.footer-hosted-by-uu-logo {
height: 13vw;
margin: 1vw auto 0;
}
.footer-hosted-by-uu-text {
font-size: 2.1vw;
margin-top: 4vw;
}
.is-bg-dark-grey {
margin-left: 0px;
}
}
/*--------------------------------------------------
STATE CSS (CUSTOM SITES) FOR UPPSALA UNIVERSITET
- Contains rules to control style of a module in a specific state
--------------------------------------------------*/
.is-uppercase {
text-transform: none;
}
.has-up-arrow {
background-image: none;
}
.has-up-arrow::after {
content: " \21E7";
text-decoration: none;
font-size: 2em;
}
/* ---------------------------------------------------- */
/* CSS IG ADMIN FOR CUSTOM SITES FOR UPPSALA UNIVERSITY	*/
/* - Contains rules to style custom sites in the CMS	*/
/* ---------------------------------------------------- */
.decorated-mode .top-nav-wrap {
width: auto;
}
.decorated-mode .no-menu,
.decorated-mode .no-menu .slot-box {
width: auto;
max-width: none;
}
.decorated-mode .no-menu .container.module-group {
max-width: 1140px;
}

