
/* ---------------------------------------------------- */
/* CSS THEME- ALVIN CSS FOR UPPSALA UNIVERSITET	  */
/* ---------------------------------------------------- */

body {
	border-top: 10px solid #7fbfa7;
}


.logo-wrap {
	margin-top: 8px;
}

.logo {
	max-height: 64px;
}


.top-nav .active a,
.top-nav a:hover {
	border-bottom: 4px solid #7fbfa7;
	padding-bottom: 5px;
}


.left-nav-heading,
.local-nav-mobile-header {
	background: #7fbfa7;
}

.left-nav-heading a {
	color: #000;
	font-weight: bold;
}


.footer-element {
	background: #fff;
	border-top: 50px solid #7fbfa7;
}

.footer-element h3 {
	height: 40px;
	margin-top: -35px;
	text-align: center;
}

.footer-content {
	padding-right: 0;
}

.footer-content img {
	width: 200px !important;
}


.is-bg-grey {
	background-color: #7fbfa7;
}


.with-menu .number-of-slots-3,
.no-menu .number-of-slots-4 {
	background: transparent;
}

.module-content {
	background-color: #7fbfa7;
}

.module .bg-bright-trans,
.module .bg-dark-trans,
.module .bg-dark-solid,
.module .bg-bright-trans a,
.module .bg-dark-trans a,
.module .bg-dark-solid a {
	background-color: transparent;
	color: #000;
}

.module-content .link.bg-dark-trans a,
.module-content .link.bg-dark-solid a {
	background-position: right -69px;
}

.module .module-header {
	background: #000;
	color: #fff;
}


.notice-header {
	border-top: 10px solid #7fbfa7;
}

