<!-- LOCALIZATION -->
{% load i18n %}

<nav aria-label="breadcrumb" class="flex text-sm ml-4 overflow-hidden max-w-full z-50">
    <ol class="list-none inline-flex">
      {% for crumb in breadcrumbs %}
        <li class="breadcrumb-item {% if forloop.last %}active{% endif %}">
          {% if forloop.last %}
            <span class="font-semibold">{{ crumb.name }}</span>
          {% else %}
            <a href="{{ crumb.url }}" class="text-alvinOrange">{% translate crumb.name %}</a><span class="text-alvinGreen px-1 overflow-hidden max-w-full">/</span>
            
          {% endif %}
        </li>
      {% endfor %}
    </ol>
</nav>