{% load i18n %}
<div class="w-full flex flex-col p-8 py-6 m-h-screen bg-white/98 dark:bg-gray-800/98 shadow-md">
    <form action="{% url 'alvin_search'%}" method="get">
        <div class="bg-white dark:bg-gray-600 items-center justify-between w-full flex rounded-full shadow-lg p-2 mb-5 sticky">           
            <input name="query" id="alvinsearch" x-ref="alvinsearch" class="font-normal rounded-full w-full py-4 pl-4 text-gray-700 dark:text-gray-100 bg-gray-100 dark:bg-gray-900 leading-tight focus:outline-none focus:shadow-outline lg:text-base md:text-base text-sm"
                type="text" placeholder="{% translate 'Sök över en halv miljon objekt' %}" 
                {% if query != '' %}
                value="{{ query }}"
                {% endif %}>
            <div class="bg-gray-900 p-2 hover:bg-dark-alvin mx-2 rounded-full">
                <label>
                    <input type="submit" value="Submit" style="display: none;">
                        <svg class="w-6 h-6 text-white cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor">
			                <title>{% translate 'Knapp för sökning' %}</title>
                            <path fill-rule="evenodd"
                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                clip-rule="evenodd"/>
                        </svg>
                </label>
            </div>
        </div>
        <fieldset class="flex justify-center gap-x-2 text-sm md:text-base dark:text-white"> 
            <legend class="sr-only">{% translate 'Söktyp' %}</legend>
            <div>
                <input type="radio" id="alvinRecord" name="searchType" value="alvinRecord"  
                {% if searchType == 'alvinRecord' or not searchType %} checked {% endif %}
                class="sr-only peer">
                <label for="alvinRecord" 
                        class="flex items-center bg-alvin-grey dark:bg-gray-700 rounded-full px-4 py-2 cursor-pointer group gap-1 
                            transition-all duration-200 peer-checked:text-blue-500 peer-checked:ring-2 peer-checked:ring-blue-500 peer-focus:ring-2 peer-focus:ring-blue-500">
                    <svg class="w-6 h-6" stroke-width="2" fill="none">
                        <title>{% translate 'Sök efter poster' %}</title>
                        {% include "../alvin_viewer/_icons/allmetadata.svg" %}
                    </svg>
                    <span class="select-none max-sm:hidden">{% translate 'Post' %}</span>
                </label>
            </div>
            <div>
                <input type="radio" id="person" name="searchType" value="person"  
                {% if searchType == 'person' %} checked {% endif %}
                class="sr-only peer">
                <label for="person" 
                        class="flex items-center bg-alvin-grey dark:bg-gray-700 rounded-full px-4 py-2 cursor-pointer group gap-1 
                            transition-all duration-200 peer-checked:text-blue-500 peer-checked:ring-2 peer-checked:ring-blue-500 peer-focus:ring-2 peer-focus:ring-blue-500">
                    <svg class="w-6 h-6" stroke-width="2" fill="none">
                        <title>{% translate 'Sök efter personer' %}</title>
                        {% include "../alvin_viewer/_icons/person.svg" %}
                    </svg>
                    <span class="select-none max-sm:hidden">{% translate 'Person' %}</span>
                </label>
            </div>
            <div>
                <input type="radio" id="organisation" name="searchType" value="organisation"  
                {% if searchType == 'organisation' %} checked {% endif %}
                class="sr-only peer">
                <label for="organisation" 
                        class="flex items-center bg-alvin-grey dark:bg-gray-700 rounded-full px-4 py-2 cursor-pointer group gap-1 
                            transition-all duration-200 peer-checked:text-blue-500 peer-checked:ring-2 peer-checked:ring-blue-500 peer-focus:ring-2 peer-focus:ring-blue-500">
                    <svg class="w-6 h-6" stroke-width="2" fill="none">
                        <title>{% translate 'Sök efter organisationer' %}</title>
                        {% include "../alvin_viewer/_icons/organisation.svg" %}
                    </svg>
                    <span class="select-none max-sm:hidden">{% translate 'Organisation' %}</span>
                </label>
            </div>
            <div>
                <input type="radio" id="place" name="searchType" value="place"  
                {% if searchType == 'place' %} checked {% endif %}
                class="sr-only peer">
                <label for="place" 
                        class="flex items-center bg-alvin-grey dark:bg-gray-700 rounded-full px-4 py-2 cursor-pointer group gap-1 
                            transition-all duration-200 peer-checked:text-blue-500 peer-checked:ring-2 peer-checked:ring-blue-500 peer-focus:ring-2 peer-focus:ring-blue-500">
                    <svg class="w-6 h-6" stroke-width="2" fill="none">
                        <title>{% translate 'Sök efter platser' %}</title>
                        {% include "../alvin_viewer/_icons/place.svg" %}
                    </svg>
                    <span class="select-none max-sm:hidden">{% translate 'Plats' %}</span>
                </label>
            </div>
            <div>
                <input type="radio" id="work" name="searchType" value="work"  
                {% if searchType == 'work' %} checked {% endif %}
                class="sr-only peer">
                <label for="work" 
                        class="flex items-center bg-alvin-grey dark:bg-gray-700 rounded-full px-4 py-2 cursor-pointer group gap-1 
                            transition-all duration-200 peer-checked:text-blue-500 peer-checked:ring-2 peer-checked:ring-blue-500 peer-focus:ring-2 peer-focus:ring-blue-500">
                    <svg class="w-6 h-6" stroke-width="2" fill="none">
                        <title>{% translate 'Sök efter verk' %}</title>
                        {% include "../alvin_viewer/_icons/work.svg" %}
                    </svg>
                    <span class="select-none max-sm:hidden">{% translate 'Verk' %}</span>
                </label>
            </div>
        </fieldset>
        <input type="hidden" name="view" value="list">
    </form>
</div>
