{% load i18n %}
<div class="w-full bg-white/98 p-6 shadow-md dark:bg-gray-800/98">
    <form action="{% url 'alvin_search'%}" method="get" role="search">
        <div class="sticky top-0 z-10 mb-5 flex w-full items-center justify-between rounded-full bg-white p-2 shadow-lg dark:bg-gray-700">
            <label for="alvinsearch" class="sr-only">{% translate 'Sök' %}</label>
            <input name="query" id="alvinsearch" x-ref="alvinsearch" class="w-full rounded-full bg-gray-100 py-4 pl-6 text-sm leading-tight text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-900 dark:text-gray-100 dark:focus:ring-blue-400 lg:text-base"
                type="search" placeholder="{% translate 'Sök över en halv miljon objekt' %}"
                {% if query %}
                value="{{ query }}"
                {% endif %}>
            <button type="submit" class="mx-2 rounded-full bg-gray-900 p-3 text-white hover:bg-dark-alvin focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 dark:focus:ring-blue-400">
                <span class="sr-only">{% translate 'Sök' %}</span>
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
			                <title>{% translate 'Knapp för sökning' %}</title>
                            <path fill-rule="evenodd"
                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                clip-rule="evenodd"/>
                        </svg>
            </button>
        </div>
        <fieldset class="flex flex-wrap justify-center gap-2 text-sm dark:text-white md:text-base">
            <legend class="sr-only">{% translate 'Söktyp' %}</legend>
            <div>
                <input type="radio" id="alvinRecord" name="searchType" value="alvinRecord"
                {% if searchType == 'alvinRecord' or not searchType %} checked {% endif %}
                class="peer sr-only">
                <label for="alvinRecord"
                        class="group flex cursor-pointer items-center gap-1 rounded-full bg-alvin-grey px-4 py-2 transition-all duration-200 peer-checked:text-blue-500 peer-checked:ring-2 peer-checked:ring-blue-500 peer-focus:ring-2 peer-focus:ring-blue-500 dark:bg-gray-700">
                    <svg class="h-6 w-6" stroke-width="2" fill="none">
                        <title>{% translate 'Sök efter poster' %}</title>
                        {% include "../alvin_viewer/_icons/allmetadata.svg" %}
                    </svg>
                    <span class="select-none max-sm:hidden">{% translate 'Post' %}</span>
                </label>
            </div>
            <div>
                <input type="radio" id="person" name="searchType" value="person"
                {% if searchType == 'person' %} checked {% endif %}
                class="peer sr-only">
                <label for="person"
                        class="group flex cursor-pointer items-center gap-1 rounded-full bg-alvin-grey px-4 py-2 transition-all duration-200 peer-checked:text-blue-500 peer-checked:ring-2 peer-checked:ring-blue-500 peer-focus:ring-2 peer-focus:ring-blue-500 dark:bg-gray-700">
                    <svg class="h-6 w-6" stroke-width="2" fill="none">
                        <title>{% translate 'Sök efter personer' %}</title>
                        {% include "../alvin_viewer/_icons/person.svg" %}
                    </svg>
                    <span class="select-none max-sm:hidden">{% translate 'Person' %}</span>
                </label>
            </div>
            <div>
                <input type="radio" id="organisation" name="searchType" value="organisation"
                {% if searchType == 'organisation' %} checked {% endif %}
                class="peer sr-only">
                <label for="organisation"
                        class="group flex cursor-pointer items-center gap-1 rounded-full bg-alvin-grey px-4 py-2 transition-all duration-200 peer-checked:text-blue-500 peer-checked:ring-2 peer-checked:ring-blue-500 peer-focus:ring-2 peer-focus:ring-blue-500 dark:bg-gray-700">
                    <svg class="h-6 w-6" stroke-width="2" fill="none">
                        <title>{% translate 'Sök efter organisationer' %}</title>
                        {% include "../alvin_viewer/_icons/organisation.svg" %}
                    </svg>
                    <span class="select-none max-sm:hidden">{% translate 'Organisation' %}</span>
                </label>
            </div>
            <div>
                <input type="radio" id="place" name="searchType" value="place"
                {% if searchType == 'place' %} checked {% endif %}
                class="peer sr-only">
                <label for="place"
                        class="group flex cursor-pointer items-center gap-1 rounded-full bg-alvin-grey px-4 py-2 transition-all duration-200 peer-checked:text-blue-500 peer-checked:ring-2 peer-checked:ring-blue-500 peer-focus:ring-2 peer-focus:ring-blue-500 dark:bg-gray-700">
                    <svg class="h-6 w-6" stroke-width="2" fill="none">
                        <title>{% translate 'Sök efter platser' %}</title>
                        {% include "../alvin_viewer/_icons/place.svg" %}
                    </svg>
                    <span class="select-none max-sm:hidden">{% translate 'Plats' %}</span>
                </label>
            </div>
            <div>
                <input type="radio" id="work" name="searchType" value="work"
                {% if searchType == 'work' %} checked {% endif %}
                class="peer sr-only">
                <label for="work"
                        class="group flex cursor-pointer items-center gap-1 rounded-full bg-alvin-grey px-4 py-2 transition-all duration-200 peer-checked:text-blue-500 peer-checked:ring-2 peer-checked:ring-blue-500 peer-focus:ring-2 peer-focus:ring-blue-500 dark:bg-gray-700">
                    <svg class="h-6 w-6" stroke-width="2" fill="none">
                        <title>{% translate 'Sök efter verk' %}</title>
                        {% include "../alvin_viewer/_icons/work.svg" %}
                    </svg>
                    <span class="select-none max-sm:hidden">{% translate 'Verk' %}</span>
                </label>
            </div>
        </fieldset>
        <input type="hidden" name="view" value="list">
    </form>
</div>
