{% load i18n %}

<nav data-xdata="{ mobileMenuIsOpen: false }" data-xon.click.away="mobileMenuIsOpen = false" class="sticky w-full bg-white/95 dark:bg-gray-800/95 top-0 z-40">
    <div class="flex h-16 items-center justify-between px-2">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
            <!-- Mobile menu button-->
            <button data-xon.click="mobileMenuIsOpen = !mobileMenuIsOpen" data-xbind.aria-expanded="mobileMenuIsOpen" type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-700 dark:text-white hover:bg-gray-100 dark:hover:text-gray-700 focus:outline-2 focus:-outline-offset-1 focus:outline-blue-800" aria-label="mobile menu" aria-controls="mobileMenu">             
                <span class="absolute -inset-0.5"></span>
                <span class="sr-only">Open main menu</span>
                <svg data-xcloak data-xshow="!mobileMenuIsOpen" xmlns="http://www.w3.org/2000/svg" fill="none" aria-hidden="true" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <title>Mobile-menu is not open</title>
                    <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <svg data-xcloak data-xshow="mobileMenuIsOpen" xmlns="http://www.w3.org/2000/svg" fill="none" aria-hidden="true" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="size-6 bg-red-500">
                    <title>Mobile-menu is open</title>
                    <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </div>
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
            <a href="{% url 'start' %}" class="font-[Universalis] text-4xl text-black dark:text-white">ALVIN</a>
            <div class="hidden sm:ml-6 sm:block">
                <div class="flex space-x-4">       
                    <a href="{% url 'userguide' %}" aria-current="page" class="rounded-md bg-gray-900 px-3 py-2 text-base font-normal text-white">{% translate 'För medlemmar' %}</a>
                    <a href="/about" class="rounded-md px-3 py-2 text-base font-normal text-gray-700 {% if '/about' in request.get_full_path %}bg-blue-800 text-white{% endif %} hover:bg-dark-alvin hover:text-white focus:bg-blue-800 focus:outline-hidden focus:text-white dark:text-gray-300">{% translate 'Om Alvin' %}</a>
                    <a href="/institutions" class="rounded-md px-3 py-2 text-base font-normal text-gray-700 {% if '/institutions' in request.get_full_path %}bg-blue-800 text-white{% endif %} hover:bg-dark-alvin hover:text-white focus:bg-blue-800 focus:outline-hidden focus:text-white dark:text-gray-300">{% translate 'Institutioner' %}</a>
                    <a href="/copyright" class="rounded-md px-3 py-2 text-base font-normal text-gray-700 {% if '/copyright' in request.get_full_path %}bg-blue-800 text-white{% endif %} hover:bg-dark-alvin hover:text-white focus:bg-blue-800 focus:outline-hidden focus:text-white dark:text-gray-300">{% translate 'Upphovsrätt' %}</a>
                </div>
            </div>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">  
            <!-- Search -->   
            <button type="button"
                class="relative rounded-full text-gray-700 dark:text-gray-300 focus:outline-2 focus:outline-offset-2 focus:outline-blue-800" onclick="togglePanel('myPanel')">                  
                <span class="absolute -inset-1.5"></span>
                <span class="sr-only">Open search</span>
                <svg viewBox="0 0 24 24" fill="none" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <title>Open search bar</title>
                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                </svg>
            </button>

            <!-- Help dropdown -->
            <div class="relative ml-3">
                <!-- Toggle Button -->
                <button type="button"
                    class="relative flex rounded-full focus:outline-2 focus:outline-offset-2 focus:outline-blue-800" aria-haspopup="true" onclick="togglePanel('myHelp')">
                    <span class="absolute -inset-1.5"></span>
                    <span class="sr-only">Open help menu</span>                 
                    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="orange" class="size-6">
                        <title>Open help menu</title>
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z" />
                    </svg>           
                </button>

                <!-- Dropdown Menu -->

                <div id="myHelp"
                    class="absolute top-11 right-0 flex w-fit min-w-48 flex-col overflow-hidden origin-top-right rounded-md bg-white shadow-lg outline outline-black/5 z-10 max-h-0" role="menu">
                    <div class="block px-4 py-2 text-base text-orange-400 bg-white font-bold">{% translate 'HJÄLP' %}</div>     
                    <a href="/help#search" class="block px-4 py-2 text-base text-gray-700 bg-white hover:bg-gray-700 hover:text-white focus:outline-hidden">{% translate 'Sök' %}</a>
                    <a href="/help#download" class="block px-4 py-2 text-base text-gray-700 bg-white hover:bg-gray-700 hover:text-white focus:outline-hidden">{% translate 'Ladda ner' %}</a>
                    <a href="/help#imageviewer" class="block px-4 py-2 text-base text-gray-700 bg-white hover:bg-gray-700 hover:text-white focus:outline-hidden">{% translate 'Bildvisare' %}</a>
                    <a href="/help#apis" class="block px-4 py-2 text-base text-gray-700 bg-white hover:bg-gray-700 hover:text-white focus:outline-hidden">{% translate 'API' %}</a>
                </div>

            </div>             
        </div>
        <!-- Mobile menu -->
        <div data-xcloak data-xshow="mobileMenuIsOpen" id="mobileMenu" class="block sm:hidden flex-grow px-4 pb-4">
            <div class="space-y-1 px-2 pt-2 pb-3">
                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-white/5 hover:text-white" -->
                <a href="{% url 'userguide' %}" aria-current="page" class="block rounded-md bg-gray-900 px-3 py-2 text-base font-normal text-white">{% translate 'För medlemmar' %}</a>
                <a href="{% url 'about' %}" class="block rounded-md px-3 py-2 text-base font-normal text-white {% if '/about' in request.get_full_path %}bg-blue-800{% else %}bg-gray-700{% endif %} hover:bg-dark-alvin hover:text-white focus:bg-blue-800 focus:outline-hidden focus:text-white">{% translate 'Om Alvin' %}</a>
                <a href="{% url 'institutions' %}" class="block rounded-md px-3 py-2 text-base font-normal text-white {% if '/institutions' in request.get_full_path %}bg-blue-800{% else %}bg-gray-700{% endif %} hover:bg-dark-alvin hover:text-white focus:bg-blue-800 focus:outline-hidden focus:text-white">{% translate 'Institutioner' %}</a>
                <a href="{% url 'copyright' %}" class="block rounded-md px-3 py-2 text-base font-normal text-white {% if '/copyright' in request.get_full_path %}bg-blue-800{% else %}bg-gray-700{% endif %} hover:bg-dark-alvin hover:text-white focus:bg-blue-800 focus:outline-hidden focus:text-white">{% translate 'Upphovsrätt' %}</a>
            </div>
        </div>
    </div>
</nav>
