{% load i18n static %}

<nav class="sidenav fixed top-0 left-0 flex flex-col lg:w-2/6 max-lg:w-4/6 max-md:w-full h-screen bg-white/98 dark:bg-gray-800/98 z-50 
            transform transition-transform duration-200 ease-out" 
            data-xshow="showSideNav" 
            data-xtransition:enter="transition-transform duration-200 ease-out" 
            data-xtransition:enter-start="-translate-x-full" 
            data-xtransition:enter-end="translate-x-0" 
            data-xtransition:leave="transition-transform duration-150 ease-in" 
            data-xtransition:leave-start="translate-x-0" 
            data-xtransition:leave-end="-translate-x-full" 
            data-xcloak>
    <button data-xon.click="showSideNav = !showSideNav" class="absolute top-0 left-0 p-2 text-black dark:text-white">
        <svg width="40px" height="40px" stroke-width="2" viewBox="0 0 24 24" fill="none" data-xcloak>
            <title>Close side navigation</title>
            <path d="M6.75827 17.2426L12.0009 12M17.2435 6.75736L12.0009 12M12.0009 12L6.75827 6.75736M12.0009 12L17.2435 17.2426" 
                stroke="currentColor" 
                stroke-width="2" 
                stroke-linecap="round" 
                stroke-linejoin="round">
            </path>
        </svg>
    </button>
    
    <div class="flex flex-col justify-stretch items-center gap-8 h-full py-40
            overflow-y-auto scrollbar-alvin-x">
        <a href="{% url 'about' %}" class="font-universalis text-3xl max-sm:text-3xl text-black visited:text-black hover:text-alvin-green">{% trans 'Om Alvin' %}</a>
        <a href="{% url 'copyright' %}" class="font-universalis text-3xl text-black visited:text-black max-sm:text-3xl hover:text-alvin-green">{% trans 'Copyright' %}</a>
        <a href="{% url 'institutions' %}" class="font-universalis text-3xl max-sm:text-3xl text-black visited:text-black hover:text-alvin-green">{% trans 'Medlemmar' %}</a>
        <hr class="w-20 bg-black border-alvin-green border-4 rounded-sm">
        <a href="{% url 'alvin_search' %}" class="font-universalis text-3xl max-sm:text-3xl text-black visited:text-black hover:text-alvin-green">{% trans 'Avancerad sök' %}</a>
        <hr class="w-20 border-alvin-green border-4 rounded-sm">
        <a class="font-universalis text-3xl max-sm:text-3xl text-black visited:text-black hover:text-alvin-orange">{% trans 'Hjälp' %}</a>
        <hr class="w-20 border-alvin-green border-4 rounded-sm">
        <a href="mailto:alvin-support@ub.uu.se" class="font-universalis text-3xl max-sm:text-3xl text-black visited:text-black hover:text-alvin-green">{% trans 'Kontakt' %}</a>
    </div>  
</nav>
