{% load i18n static %}

<nav class="sidenav fixed top-0 left-0 flex flex-col lg:w-2/6 max-lg:w-4/6 max-md:w-full h-full bg-white/98 dark:bg-gray-800/98 z-50 
            transform transition-transform duration-200 ease-out" 
            data-xshow="activeMenu === 'sidenav'" 
            data-xtransition:enter="transition-transform duration-200 ease-out" 
            data-xtransition:enter-start="-translate-x-full" 
            data-xtransition:enter-end="translate-x-0" 
            data-xtransition:leave="transition-transform duration-150 ease-in" 
            data-xtransition:leave-start="translate-x-0" 
            data-xtransition:leave-end="-translate-x-full" 
            data-xcloak>
    <button data-xon.click="activeMenu = null" class="absolute top-0 left-0 p-2 text-black dark:text-white hover:text-blue-500">
        <svg width="40px" height="40px" stroke-width="2" viewBox="0 0 24 24" fill="none" data-xcloak>
            <title>Close side navigation</title>
            <path d="M6.75827 17.2426L12.0009 12M17.2435 6.75736L12.0009 12M12.0009 12L6.75827 6.75736M12.0009 12L17.2435 17.2426" 
                stroke="currentColor" 
                stroke-width="2" 
                stroke-linecap="round" 
                stroke-linejoin="round">
            </path>
        </svg>
    </button>
    
    <div class="h-full overflow-y-auto scrollbar-alvin-x flex">
        <div class="m-auto flex flex-col items-center p-10 gap-8">
            <a href="{% url 'about' %}" class="font-universalis text-3xl max-sm:text-3xl text-black visited:text-black hover:text-alvin">{% trans 'Om Alvin' %}</a>
            <a href="{% url 'institutions' %}" class="font-universalis text-3xl max-sm:text-3xl text-black visited:text-black hover:text-alvin">{% trans 'Institutioner' %}</a>
            <a href="{% url 'copyright' %}" class="font-universalis text-3xl text-black visited:text-black max-sm:text-3xl hover:text-alvin">{% trans 'Upphovsrätt' %}</a>
            <hr class="w-20 bg-black border-alvin border-2">
            <a href="{% url 'help' %}" class="font-universalis text-3xl max-sm:text-3xl text-black visited:text-black hover:text-alvin-orange">{% trans 'Hjälp' %}</a>
            <hr class="w-20 border-alvin border-2">
            <a href="{% url 'userguide' %}" class="font-universalis text-3xl max-sm:text-3xl text-black visited:text-black hover:text-alvin">{% trans 'För medlemmar' %}</a>
            <hr class="w-20 border-alvin border-2">
            <a href="mailto:alvin-support@ub.uu.se" class="font-universalis text-3xl max-sm:text-3xl text-black visited:text-black hover:text-alvin">{% trans 'Kontakt' %}</a>
        </div>
    </div>
</nav>
