{% load i18n static %}

<header x-data="{ isScrollingDown: false, lastScroll: 0, showSideNav: false }" x-init="
        window.addEventListener('scroll', () => {
            const currentScroll = window.pageYOffset || document.documentElement.scrollTop;
            const triggerPoint = 100
            if (currentScroll > triggerPoint) {
                if (currentScroll > lastScroll) {
                    isScrollingDown = true;
                } else {
                    isScrollingDown = false;
                }
                lastScroll = currentScroll;
            }
        })
    "
    aria-label="{% trans 'Huvudmeny' %}">
    
    <nav class="topnav fixed top-0 flex justify-between w-full h-16 bg-white border-4 border-black z-40 select-none transition-transform" 
        x-data="{ showSearch: false }" 
        :class="{'-translate-y-full': isScrollingDown, 'translate-y-0': !isScrollingDown}"
        >

        <nav class="flex flex-shrink-0 items-center h-full">
            
            <!-- Hamburger menu -->
            <button @click="showSideNav = !showSideNav" class="w-full h-full items-center p-4 border-r-4 border-black hover:bg-alvin-green">
                <img class="w-7" src="{% static '/img/nav/menu.svg' %}" alt="{% trans 'Mobilmeny' %}">
            </button>

            <!-- Start -->
            <a class="h-full mt-6 text-center text-4xl mx-4 text-black" href="{% url 'start' %}">
                ALVIN
            </a>

        </nav>

        <nav class="flex flex-shrink-0 justify-between items-center h-full border-black">
            <a class="flex mt-1 p-2 border-black text-nowrap max-md:hidden">
                Copyright
            </a>
            <a class="flex mt-1 p-4 border-black text-nowrap max-md:hidden">
                Om Alvin
            </a>

            <!-- Sök -->
            <button @click="showSearch = !showSearch; $nextTick(() => { $refs.alvinsearch.focus(); });" class="flex w-full h-full justify-between items-center p-4 border-x-4 border-black hover:bg-alvin-green"
                    :class="{'bg-alvin-green': showSearch}">
                <p class="font-universalis mt-1 mr-1 max-lg:hidden">Sök</p>
                <img class="w-7 transition-all duration-300" src="{% static '/img/nav/binocular.svg' %}"
                    x-show="!showSearch">
                <img class="w-7 transition-all duration-300" src="{% static '/img/nav/xmark.svg' %}"
                    x-show="showSearch" x-cloak>
            </button>
            
            <!-- Sökmeny -->
            {% include './_search_menu.html' %}

            <!-- Hjälp -->
            <button class="flex w-full h-full justify-between items-center p-4 border-black hover:bg-alvin-orange">
                <p class="font-universalis mt-1 mr-1 max-lg:hidden">Hjälp</p>
                <img class="w-7" src="{% static '/img/nav/help-circle.svg' %}">
            </button>
        </nav>

    </nav>

    <!-- Sidomeny -->
    {% include './_side_nav.html' %}

</header>