<!-- LOCALIZATION -->
{% load i18n %}

<!-- STATIC -->
{% load static %}

<header x-data="{ isScrollingDown: false, lastScroll: 0 }" x-init="
        window.addEventListener('scroll', () => {
            const currentScroll = window.pageYOffset || document.documentElement.scrollTop;
            if (currentScroll > lastScroll) {
                isScrollingDown = true;
            } else {
                isScrollingDown = false;
            }
            lastScroll = currentScroll;
        })
    " :class="{'-translate-y-full': isScrollingDown, 'translate-y-0': !isScrollingDown}"
    class="fixed top-0 w-full h-16 bg-white border-4 border-black z-40 select-none transition-transform duration-500 ease-in-out"
    aria-label="{% translate 'Huvudmeny' %}">

    <nav class="flex justify-between h-full" x-data="{ showSearch: false }">

        <nav class="flex justify-between items-center h-full">
            
            <!-- Hamburger menu -->
            <button class="flex w-full h-full items-center p-4 border-r-4 border-black hover:bg-alvinGreen">
                <img class="w-7" src="/static/img/nav/menu.svg" alt="{% translate 'Mobilmeny' %}">
            </button>

            <!-- Home button -->
            <button class="w-full h-full mt-2 text-center">
                <a class="text-4xl mx-4 mt-4 font-universalis text-black hover:text-alvinGreen" href="{% url 'start' %}">
                    ALVIN
                </a>
            </button>

        </nav>


        <nav class="flex flex-shrink-0 justify-between items-center h-full border-black">

            <button>
                <a class="flex w-full h-full justify-between items-center mt-1 p-4 border-black font-universalis text-nowrap text-black hover:text-alvinGreen max-lg:hidden">Om Alvin</a>
            </button>

            <!-- Search -->
            <button @click="showSearch = !showSearch" class="flex w-full h-full justify-between items-center p-4 border-x-4 border-black hover:bg-alvinGreen">
                <p class="font-universalis mt-1 mr-1 max-lg:hidden">Sök</p>
                <img class="w-7 transition-all duration-300" src="/static/img/nav/binocular.svg"
                    x-show="!showSearch">
                <img class="w-7 transition-all duration-300" src="/static/img/nav/xmark.svg"
                    x-show="showSearch" x-cloak>
            </button>

            <!-- Search menu -->
            <nav class="fixed top-16 left-0 w-screen bg-[#fcfcfc] border-b-2 border-b-black -z-40 ease-in-out duration-300"
                x-show="showSearch" x-cloak x-transition>
                <search>
                    <form
                        action="https://www.alvin-portal.org/alvin/resultList.jsf?faces-redirect=true&amp;includeViewParams=true&amp;searchType=EXTENDED">
                        <input
                            class="w-full focus:outline-none focus:ring-0"
                            name="query" type="text" placeholder="{% translate 'Sök i Alvin' %}">
                    </form>
                </search>
                <div class="border-y-2 overflow-scroll">
                    <h1 class="text-xl font-bold font-universalis text-center">Bläddra bland resurstyper</h1>
                    
                    <div class="flex justify-center">
                        <button class="m-4">
                            <img class="w-10" src="/static/img/recordTypes/archive.svg">
                            <span class="font-universalis">Arkiv</span>
                        </button>
                        <button class="m-4">
                            <img class="w-10" src="/static/img/recordTypes/book.svg">
                            <span class="font-universalis">Text</span>
                        </button>
                        <button class="m-4">
                            <img class="w-10" src="/static/img/recordTypes/coins.svg">
                            <span class="font-universalis">Mynt</span>
                        </button>
                        <button class="m-4 flex flex-col items-center justify-center">
                            <img class="w-10" src="/static/img/recordTypes/combine.svg">
                            <span class="font-universalis">Blandat material</span>
                        </button>
                        <button class="m-4 flex flex-col items-center justify-center">
                            <img class="w-10" src="/static/img/recordTypes/image.svg">
                            <span class="font-universalis">Bild</span>
                        </button>
                        <button class="m-4 flex flex-col items-center justify-center">
                            <img class="w-10" src="/static/img/recordTypes/map.svg">
                            <span class="font-universalis">Karta</span>
                        </button>
                        <button class="m-4 flex flex-col items-center justify-center">
                            <img class="w-10" src="/static/img/recordTypes/movingimage.svg">
                            <span class="font-universalis">Rörlig bild</span>
                        </button>
                        <button class="m-4 flex flex-col items-center justify-center">
                            <img class="w-10" src="/static/img/recordTypes/music.svg">
                            <span class="font-universalis">Musikalier</span>
                        </button>
                        <button class="m-4 flex flex-col items-center justify-center">
                            <img class="w-10" src="/static/img/recordTypes/object.svg">
                            <span class="font-universalis">Föremål</span>
                        </button>
                        <button class="m-4 flex flex-col items-center justify-center">
                            <img class="w-10" src="/static/img/recordTypes/software.svg">
                            <span class="font-universalis">Programvara</span>
                        </button>
                        <button class="m-4 flex flex-col items-center justify-center">
                            <img class="w-10" src="/static/img/recordTypes/soundrecording.svg">
                            <span class="font-universalis">Ljudinspelning</span>
                        </button>
                    </div>
                </div>
                <div class="flex border-y-2">
                    <img class="w-8" src="/static/img/authorityTypes/person.svg">
                    <img class="w-8" src="/static/img/authorityTypes/organisation.svg">
                    <a href="{% url 'alvin_place_list' %}"><img class="w-8" src="/static/img/authorityTypes/place.svg"></a>
                    <img class="w-8" src="/static/img/authorityTypes/work.svg">
                </div>
            </nav>

            <!-- Help button -->
            <button class="flex w-full h-full justify-between items-center p-4 border-black hover:bg-alvinOrange">
                <p class="font-universalis mt-1 mr-1 max-lg:hidden">Hjälp</p>
                <img class="w-7" src="/static/img/nav/help-circle.svg">
            </button>
        </div>

    </nav>
</header>