{% load static tailwind_tags %}
{% load i18n %}

<!DOCTYPE html>
<html lang="swe">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="robots" content="index, follow">
    <meta name="DC.Publisher" content="{% translate 'Uppsala universitet' %}">
    <meta name="keywords" content="{% translate 'Alvin, kulturarv, digitala samlingar, databaser, bibliotek' %}">
    <meta name="description" content="{% translate 'Alvin - nordisk plattform för bevarande och tillgängliggörande av digitaliserat kulturarv' %}">
    <meta name="DC.Creator.PersonalName" content="UUB Alvin support">
    <meta name="internal-robots" content="noindex">
    <meta name="siteName" content="Alvin">
    <meta name="creator" content="UUB Alvin support">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% tailwind_css %}

    {% load static %}
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" type="image/png" href="{% static 'img/android-chrome-192x192.png' %}">
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
    
    <!-- AlpineJS -->
    <script src="//unpkg.com/alpinejs" defer></script>
    
    {% block head %}
    {% endblock %}

    {% block jshead %}
    {% endblock %}

</head>

<body>

    {% include '_partials/_top_nav.html' %}

    {% block content %}

    {% endblock %}

    {% block jsbody %}

    {% endblock %}  
    
</body>

</html>