{% load static i18n tailwind_tags %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <title>{% block title %}Alvin - {% translate 'Startsida' %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="robots" content="index, follow">
    <meta name="DC.Publisher" content="Uppsala University Library">
    <meta name="keywords" content="Alvin, cultural heritage, digital collections, databases, libraries, archives">
    <meta name="description" content="Alvin - Nordic platform for digitised cultural heritage">
    
    {% tailwind_css %}

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="alternate" href="{{ request.get_host }}/en{% with description=request.get_full_path|safe %}{{description|slice:"3:2083" }}{% endwith %}" hreflang="en">
    <link rel="alternate" href="{{ request.get_host }}/no{% with description=request.get_full_path|safe %}{{description|slice:"3:2083" }}{% endwith %}" hreflang="no">
    <link rel="alternate" href="{{ request.get_host }}/sv{% with description=request.get_full_path|safe %}{{description|slice:"3:2083" }}{% endwith %}" hreflang="sv">
    <link rel="alternate" href="{{ request.get_host }}{% with description=request.get_full_path|safe %}{{description|slice:"3:2083" }}{% endwith %}" hreflang="x-default">
    
    <!-- AlpineJS -->
    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="{% static 'js/alpine-validation.js' %}"></script>
    <style>
        [x-cloak] {
            display: none !important; /* Important to override any default */
        }
        [data-xcloak] {
            display: none !important; /* Important to override any default */
        }
    </style>

    {% block head %}
    {% endblock %}

    {% block jshead %}
    {% endblock %}

  </head>
  <body class="bg-gray-200 dark:bg-gray-800 min-h-screen flex flex-col">
    {% include "_partials/_top_nav.html" %}
    
    <!-- The Panel with Search Form-->
    <div id="myPanel" class="bg-white dark:bg-gray-800 overflow-hidden transition-all duration-300 ease-in-out max-h-0">
      {% include "alvin_info/extended_search.html" %}
    </div>

    <script src="{% static 'js/panel.js' %}"></script>	

    {% block content %}
    {% endblock %}

    {% include '_partials/_back_to_top.html' %}
    {% include "_partials/_footer.html" %}
  </body>

</html>
