{% extends "master.html" %}

{% load static %}

{% block title %}Alvin - About{% endblock %}

 
    {% block content %}
    
        <div id="maincontent">
	   <div class="menu">
                <a href="#background">Background and history</a>
                <a href="#reference-model">Reference model</a>
                <a href="#metadata">Metadata</a>
                <a href="#oai-pmh">OAI-PMH</a>
                <a href="#accessibility">Accessibility</a>              
            </div>
            <div class="main">    
                <h1>About Alvin</h1>
                <p>Alvin is a platform for publishing and long-term preservation of digitised cultural heritage material from library, archive and museum collections in Sweden and Norway.</p>
                <p>The system was developed at Uppsala University Library and has been in operation since 2014. It is led by a consortium consisting of the university libraries in Uppsala, Lund and Gothenburg. In addition to these, there are about twenty members and another fifty institutions that have published material in Alvin.</p>        
                <p>In addition to the institutions' own collections, Alvin functions as a digital archive to keep the results from a number of externally funded research and digitisation projects available in a long-term perspective.</p>
                <p>The portal contains archives, books, manuscripts, images, maps, objects, notated music, video, audio files and some other material. Most of the digital content is openly available in high definition form and free of known copyright restrictions under the Public Domain Mark. Metadata records are freely available under Creative Commons CC0.</p>  
                <h2 id="background">Background and history</h2>
                 <p>Alvin was originally developed because existing library systems did not adequately handle:</p>
                <ul>
                    <li>cataloguing of non-book materials</li>
                    <li>linked data</li>
                    <li>item-specific information</li>
                    <li>storage/display of digital material</li>
                    <li>search engine friendliness (Google etc.)</li>
                </ul>
                <p>In addition, a uniform solution was sought for different types of material instead of specific systems for different resource types, collections or projects.</p>
                <p>Alvin has his foundation in a number of different projects that have been run over the years at the Electronic Publishing Centre and later the Unit for Library Systems at Uppsala University Library.</p>
                <p>Some examples are self-developed database solutions for Erik Waller's extensive autograph collection as well as the map and image collections at Uppsala University Library, and the collaborative projects ProBok (book bindings and provenances) and Ediffah (personal archives).</p>
                <p>Added to these were a number of smaller projects or systems developed for the library by other parties.</p>
                <p>Over time, it became clear that the management, operation and further development of such a wild flora of disparate systems and technologies, which had to be managed by IT managers as well as the respective users, was clearly unsustainable in the long run.</p>
                <p>The systems were also not designed to communicate with each other. Neither had the various underlying development projects been coordinated in any way, but had been run completely separately from each other.</p>
                <h3>LUPP</h3>
                <p>In <a href="http://urn.kb.se/resolve?urn=urn:nbn:se:uu:diva-328092" title="Slutrapport från LUPP">the final report</a> (2011) to the LUPP project (Digitalisation collaboration between the Diocesan Library at Linköping City Library and Uppsala University Library) it was found that if no radical change is made, it is highly likely that all these services will fade away as staff disappear or technical platforms become outdated and have to be replaced/shut down.</p>
                <p>In the LUPP report, Alvin was therefore launched as a concept for the first time. The idea was that instead of using ten different database software or scripting languages, the same software and method for generating web pages should be used for all applications. Only in that way can they be maintained in a longer perspective. Technological development is fast, even if the needs for it do not change at the same pace, which means that systems that are not constantly further developed or renewed cannot survive in the long term. A common platform means that entire components, such as a search engine or database software, can be replaced in step with the technological development of these. It also means that personal dependence is reduced because several developers work with the same solutions.</p>
                <h3>ArkA-D</h3>
                <p>The technical development of Alvin as a tool for digitising the research libraries' archive collections was founded in the project <a href="https://www.rj.se/anslag/2011/arka-d---ett-verktyg-for-digitalisering-av-forskningsbibliotekens-arkivsamlingar/">ArkA-D</a>, a two-year infrastructure project that was carried out between 2012 and 2014.</p>
                <p>As the end point of the project, Alvin was launched at the conference <em>Digitalisera - men sen då?</em> at the Nordic Museum on 28 November 2014.</p>
                <figure>
                    <img alt="Alvin start page 2014" src="{% static 'img/alvin2014.png' %}">
                <figcaption>Alvin start page, December 2014</figcaption>
                </figure>
                <h3>Management</h3>
                <p>Since a digital platform like Alvin would certainly attract interest among other cultural heritage institutions, the ArkA-D project worked out a consortium model that would be able to bear the costs of the system even after the end of the project. It was partly based on experiences from the publishing platform <a href="http://www.diva-portal.org" title="DiVA-portal">DiVA</a>.</p>
                <p>In 2015, the consortium began to take shape with Linköping City Library (the original partner from LUPP) as the first member of Alvin after Uppsala University Library.</p>
                <p>As of mid-year 2017, Alvin transitioned from the previous project stage to a system in full production, now with a number of new <a href="members.html">members and other organizations</a> with material in the system. Operation and support of the system is thus financed through annual membership fees.</p>
                <h2 id="reference-model">Reference model</h2>
                <p>Conceptually, the system is based on the OAIS model (Open Archival Information System).</p>     
                <p>An OAIS-built digital archive is built on six functional components:</p>
                <ol>
                    <li><em>Ingest</em> provides functions and services to receive information packages and to prepare them for storage and handling in the archive.</li>
                    <li><em>Archival Storage</em> provides services and functions for storage.</li>
                    <li><em>Data Management</em> provides services and functions such as being able to create, maintain and retrieve descriptive information stored in the archive. The aim is for the digital information to be available for a longer period of time.</li>
                    <li><em>Administration</em> provides services and functions for the overall maintenance of the archive.</li>
                    <li><em>Access</em> provides services and functions that help the user find the information stored in the archive.</li>
                    <li><em>Preservation planning</em> provides services and functions that are tasked with monitoring the archive's external environment and making recommendations to ensure that the information is not lost over time.</li>
                </ol>
                <figure><img alt="OAIS reference model" src="{% static 'img/OAIS_Functional_Model.png' %}">
                    <figcaption>OAIS reference model</figcaption>
                </figure>
                <h3>Permanent links - URN:NBN</h3>
                <p>A URN is a unique and permanent identifier for electronic resources on the Internet. In Alvin, <a href="https://datatracker.ietf.org/doc/html/rfc8458">URN:NBN</a> is used for permanent links to the records.</p>
                <h2 id="metadata">Metadata</h2>
                <p>Metadata in Alvin is stored in an internal format. The aim is to be able to describe different types of resources in one and the same system. Descriptive elements are based on international standards for archives (<a href="http://www.loc.gov/ead/">EAD</a>) and libraries (<a href="http://www.loc.gov/standards/mods/">MODS</a>/<a href="http://www.loc.gov/standards/mads/">MADS</a>, <a href="http://www.loc.gov/marc/">MARC</a> and <a href="https://www.loc.gov/bibframe/">BIBFRAME</a>). Some special adaptations for manuscript volumes have also been made according to <a href="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/MS.html">TEI-MS</a>. As import format to Alvin, a combination of <a href="http://www.loc.gov/standards/mods/">MODS</a> and <a href="http://www.loc.gov/standards/mets/">METS</a> is used to connect descriptive metadata with digital files.</p>
                <p>In Alvin there are two main types of records:</p>
                <ol>
                    <li>Bibliographic records describing a single resource (text, image, map, etc.) or a collection of resources (eg an archive)</li>
                    <li>Authority records that describe persons, families, organisations and geographic locations.</li>
                </ol>
                <p>Bibliographic records and authority records are linked by a type of relationship (role). A book can be linked to a person through the &quot;author&quot; relationship type. An archive can be linked to a person through the &quot;archive creator&quot; relationship type.</p>
                <p>Alvin's metadata format is also based on linked data and describing relationships between different bibliographic records. The link can be hierarchical (Included in/part), parallel (different version or format) or to another related record (such as series or reference).</p>
                <h2 id="oai-pmh">OAI-PMH</h2>
                <p>Metadata records from Alvin can be harvested via the <a href="https://www.openarchives.org/OAI/openarchivesprotocol.html">OAI-PMH, Version 2</a> (The Open Archives Initiative Protocol for Metadata Harvesting) protocol. See: <a href="https://www.alvin-portal.org/oai/oai?verb=Identify">https://www.alvin-portal.org/oai/oai?verb=Identify</a></p>
                <h2 id="accessibility">Accessibility</h2>
                <p>The content of Alvin consists of reproductions of objects from cultural heritage collections. In <a href="https://www.riksdagen.se/sv/dokument-lagar/dokument/svensk-forfattningssamling/lag-20181937-om-tillganglighet-till-digital_sfs-2018-1937">Act (2018: 1937) on access to digital public service</a>, according to § 9, section 4 &quot;reproductions of objects from cultural heritage collections that cannot be made fully accessible without significant obstacles&quot; are excluded from the scope of the Act.</p>
                <p>By objects from cultural heritage collections (according to § 7) are meant private or publicly owned objects of historical, artistic, archaeological, aesthetic, scientific or technical interest that are included in collections managed by cultural institutions.</p>                
            </div>
            <div class="right">
                <figure>
                    <img src="{% static 'img/carolina.jpg' %}" alt="Front of Carolina Rediviva">
                    <figcaption>Carolina Rediviva</figcaption>
                </figure>
                <figure>
                    <img src="{% static 'img/ub.jpg' %}" alt="Front of the University Library in Lund">
                    <figcaption>University Library, Lund</figcaption>
                </figure>
            </div>
           
        </div>

    {% endblock %}
