{% extends "master.html" %}

{% block title %}Alvin - Copyright{% endblock %}
 
    {% block content %}
    
    <div id="maincontent">
      <div class="menu"></div>
      <div class="main">    
        <h1>Copyright</h1>
        <p>Almost all of the digital resources you find in Alvin can be used and shared without restrictions. However, be aware that some of the more modern materials may be copyrighted. The licensing label of each record states the rights that apply.</p>
        <h2>Licensing of digital works</h2>
        <ul>
          <li>Most of the digital materials in Alvin are not copyrighted and are accessible in accordance with <a href="https://creativecommons.org/public-domain/pdm/">Public Domain Mark</a>.</li>
          <li>The author of copyrighted material can choose a licence for publication in accordance with the <a href="https://creativecommons.org/about/cclicenses/">Creative Commons licences</a>.</li>
          <li>Copyrighted material that has no licence is published as <a href="http://rightsstatements.org/page/InC/1.0/?language=en">In Copyright</a>.</li>
        </ul>
        <p>All Alvin members/participants are responsible for the correct labelling and publishing of their own materials.</p>
        <h2>Metadata in Alvin</h2>
        <p>Alvin's metadata records are freely available under <a href="https://creativecommons.org/public-domain/cc0/">Creative Commons CC0</a>.</p>
      </div>
      <div class="right"></div>
    </div>

    {% endblock %}
