{% extends "master.html" %}

{% load static %}

{% block title %}
  Alvin - Start page
{% endblock %}


{% block content %}

       <div class="hero-image">
            <div class="hero-text">
                <h1>Nordic platform for digitised cultural heritage</h1>
                <h2>Search and download pictures, books, manuscripts and other cultural objects</h2>
                <div class="search-container">
                    <form action="searchresults.html" class="search-form">
                        <input type="text"  onfocus="this.value=''" placeholder="Half a million+ items" name="search" class="search-bar"><button class="search-button" type="submit"><i class="fa fa-search"></i></button>
                    </form>              
                </div>
            </div>
        </div>
        <div id="maincontent">
            <div class="menu">
                <h2>Resource types</h2>
                <a href="#"><i class="fa fa-photo"></i> Image</a>
                <a href="#"><i class="fa fa-file-text"></i> Text</a>
                <a href="#"><i class="fa fa-square"></i> Object</a>
                <a href="#"><i class="fa fa-music"></i> Sheet music</a>
                <a href="#"><i class="fa fa-map"></i> Map</a>
                <a href="#"><i class="fa fa-folder"></i> Archives</a>
                <a href="#"><i class="fa fa-random"></i> Mixed material</a>
                <a href="#"><i class="fa fa-volume-up"></i> Sound</a>
                <a href="#"><i class="fa fa-video-camera"></i> Video</a>
                <a href="#"><i class="fa fa-database"></i> Database</a>
            </div>
            <div class="main">             
                <div class="slideshow-container">                   
                    <div class="slides fade">
                        <div class="numbertext">1 / 6</div>
                        <img src="{% static 'img/90088.jpg' %}" style="width:100%" alt="Image 90088">
                         <div class="text">Uppsala från söder</div>
                    </div>                    
                    <div class="slides fade">
                        <div class="numbertext">2 / 6</div>
                        <img src="{% static 'img/60815.jpg' %}" style="width:100%" alt="Image 60815">
                        <div class="text">Sverige, Ulrika Eleonora d. y., 2 dukater 1719, Stockholm</div>
                    </div>                    
                    <div class="slides fade">
                        <div class="numbertext">3 / 6</div>
                        <img src="{% static 'img/98114.jpg' %}" style="width:100%" alt="Image 98114">
                        <div class="text">Okänd dam, tidigare kallad Cecilia Vasa</div>
                    </div>
                    <div class="slides fade">
                        <div class="numbertext">4 / 6</div>
                        <img src="{% static 'img/10437.jpg' %}" style="width:100%" alt="Image 10437">
                            <div class="text">Tidigt diktmanuskript av Harry Martinson</div>
                    </div>                    
                    <div class="slides fade">
                        <div class="numbertext">5 / 6</div>
                        <img src="{% static 'img/12537.jpg' %}" style="width:100%" alt="Image 12537">
                            <div class="text">Sven Blom, dagbok från första världskriget</div>
                    </div>                    
                    <div class="slides fade">
                        <div class="numbertext">6 / 6</div>
                        <img src="{% static 'img/79792.jpg' %}" style="width:100%" alt="Image 79792">
                            <div class="text">Sala silvergruva hade egna betalningsmedel under 1700-talet…</div>
                    </div>               
                    <a class="prev" onclick="plusSlides(-1)">❮</a>
                    <a class="next" onclick="plusSlides(1)">❯</a>                  
                </div>
                <br>                   
                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span> 
                    <span class="dot" onclick="currentSlide(2)"></span> 
                    <span class="dot" onclick="currentSlide(3)"></span> 
                    <span class="dot" onclick="currentSlide(4)"></span> 
                    <span class="dot" onclick="currentSlide(5)"></span> 
                    <span class="dot" onclick="currentSlide(6)"></span> 
                </div>                   
                <script src="{% static 'js/slides.js' %}"></script>                   
            </div>
            <div class="right">
                <h2>About</h2>
                <p>Alvin is a platform for publishing and long-term preservation of digitised cultural heritage material from library, archive and museum collections in Sweden and Norway.</p>                
                <p>The system was developed at Uppsala University Library and has been in operation since 2014. It is led by a consortium consisting of the university libraries in Uppsala, Lund and Gothenburg.</p>
                <p>In addition to these, there are about 70 other institutions that have published material in Alvin.</p>
            </div>
        </div>

  
{% endblock %}
