{% extends "vocabulary/darkmaster.html" %}
{% load static %}
{% block title %}Cataloguing{% endblock %}
{% block content %}
    <div class="maincontent">
      <h1><a href="https://www.alvin-portal.org" class="logo">ALVIN</a> : Cataloguing</h1>

      <div class="menu">
        <a href="#Overview">Overview</a>
      </div>

      <div class="main">
        <h2 class="cat" id="Data">Overview</h2>
      </div>

     <div class="right">
      <h2>Standards</h2>
      <p><a href="https://www.loc.gov/bibframe/">BIBFRAME</a></p>
      <p><a href="https://www.loc.gov/standards/mods/">MODS</a></p>
      <p><a href="https://www.loc.gov/marc/">MARC</a></p>
      <p><a href="https://www.loc.gov/ead/">EAD</a></p>
      <p><a href="https://tei-c.org/release/doc/tei-p5-doc/en/html/MS.html">TEI</a></p>
      <p><a href="https://nomisma.org/nuds">NUDS</a></p>
      <p><a href="https://www.loc.gov/standards/mads/">MADS</a></p>
      <p><a href="https://www.loc.gov/standards/mets/">METS</a></p>
    </div>
  </div>


      
    </div>
{% endblock %}

