{% extends "vocabulary/userguidemaster.html" %}
{% load static %}
{% load i18n %}
{% block title %}Alvin - OAI-PMH{% endblock %}
{% block content %}
<div class="w-full flex flex-col sm:flex-row flex-wrap sm:flex-nowrap py-4 flex-grow">
  <div data-xdata="{ sideMobileMenuIsOpen: false }" data-xon.click.away="sideMobileMenuIsOpen = false" class="w-fixed w-full md:w-1/4 flex-shrink flex-grow-0 px-4">
    <div class="md:flex flex-col md:flex-row">
      <div class="flex flex-col w-full text-gray-700 bg-white dark-mode:text-gray-200 dark-mode:bg-gray-800 flex-shrink-0">
        <div class="flex-shrink-0 px-8 py-4 flex flex-row items-center justify-between">
          <div class="text-lg font-semibold tracking-widest text-gray-900 uppercase rounded-lg dark-mode:text-white focus:outline-none focus:shadow-outline">{% translate 'På den här sidan' %}</div>
                <!-- Mobile menu button-->
                <button data-xon.click="sideMobileMenuIsOpen = !sideMobileMenuIsOpen" data-xbind.aria-expanded="sideMobileMenuIsOpen" type="button" class="md:hidden relative inline-flex items-center justify-center rounded-md p-2 text-gray-700 hover:bg-gray-100 focus:outline-2 focus:-outline-offset-1 focus:outline-blue-800" aria-label="mobile menu" aria-controls="mobileMenu">             
                    <span class="absolute -inset-0.5"></span>
                    <span class="sr-only">Open main menu</span>
                    <svg data-xcloak data-xshow="!sideMobileMenuIsOpen" xmlns="http://www.w3.org/2000/svg" fill="none" aria-hidden="true" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <title>Mobile-menu is not open</title>
                        <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <svg data-xcloak data-xshow="sideMobileMenuIsOpen" xmlns="http://www.w3.org/2000/svg" fill="none" aria-hidden="true" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <title>Mobile-menu is open</title>
                        <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
	    </div>
            <nav class="hidden flex-grow md:block px-4 pb-4 md:pb-0 md:overflow-y-auto">    
                <a class="block px-4 py-2 mt-2 text-sm font-normal text-gray-900 bg-light-alvin rounded-lg hover:bg-gray-700 hover:text-white focus:bg-blue-800 focus:text-white focus:outline-none focus:shadow-outline" href="#List">{% translate 'Lista över förfrågningar' %}</a>
                <a class="block px-4 py-2 mt-2 text-sm font-normal text-gray-900 bg-light-alvin rounded-lg hover:bg-gray-700 hover:text-white focus:bg-blue-800 focus:text-white focus:outline-none focus:shadow-outline" href="#Identify">Identify</a>
                <a class="block px-4 py-2 mt-2 text-sm font-normal text-gray-900 bg-light-alvin rounded-lg hover:bg-gray-700 hover:text-white focus:bg-blue-800 focus:text-white focus:outline-none focus:shadow-outline" href="#ListMetadataFormats">ListMetadataFormats</a>
                <a class="block px-4 py-2 mt-2 text-sm font-normal text-gray-900 bg-light-alvin rounded-lg hover:bg-gray-700 hover:text-white focus:bg-blue-800 focus:text-white focus:outline-none focus:shadow-outline" href="#ListSets">ListSets</a>       
                <a class="block px-4 py-2 mt-2 text-sm font-normal text-gray-900 bg-light-alvin rounded-lg hover:bg-gray-700 hover:text-white focus:bg-blue-800 focus:text-white focus:outline-none focus:shadow-outline" href="#GetRecord">GetRecord</a>   
                <a class="block px-4 py-2 mt-2 text-sm font-normal text-gray-900 bg-light-alvin rounded-lg hover:bg-gray-700 hover:text-white focus:bg-blue-800 focus:text-white focus:outline-none focus:shadow-outline" href="#ListRecords">ListRecords</a>   
                <a class="block px-4 py-2 mt-2 text-sm font-normal text-gray-900 bg-light-alvin rounded-lg hover:bg-gray-700 hover:text-white focus:bg-blue-800 focus:text-white focus:outline-none focus:shadow-outline" href="#ListIdentifiers">ListIdentifiers</a>   
            </nav> 

	    <!-- Mobile menu -->

            <div data-xcloak data-xshow="sideMobileMenuIsOpen" id="sideMobileMenu" class="block sm:hidden flex-grow px-4 pb-4">
                <a class="block px-4 py-2 mt-2 text-sm font-normal text-gray-900 bg-light-alvin rounded-lg hover:bg-gray-700 hover:text-white focus:bg-blue-800 focus:text-white focus:outline-none focus:shadow-outline" href="#List">{% translate 'Lista över förfrågningar' %}</a>
                <a class="block px-4 py-2 mt-2 text-sm font-normal text-gray-900 bg-light-alvin rounded-lg hover:bg-gray-700 hover:text-white focus:bg-blue-800 focus:text-white focus:outline-none focus:shadow-outline" href="#Identify">Identify</a>
                <a class="block px-4 py-2 mt-2 text-sm font-normal text-gray-900 bg-light-alvin rounded-lg hover:bg-gray-700 hover:text-white focus:bg-blue-800 focus:text-white focus:outline-none focus:shadow-outline" href="#ListMetadataFormats">ListMetadataFormats</a>
                <a class="block px-4 py-2 mt-2 text-sm font-normal text-gray-900 bg-light-alvin rounded-lg hover:bg-gray-700 hover:text-white focus:bg-blue-800 focus:text-white focus:outline-none focus:shadow-outline" href="#ListSets">ListSets</a>       
                <a class="block px-4 py-2 mt-2 text-sm font-normal text-gray-900 bg-light-alvin rounded-lg hover:bg-gray-700 hover:text-white focus:bg-blue-800 focus:text-white focus:outline-none focus:shadow-outline" href="#GetRecord">GetRecord</a>   
                <a class="block px-4 py-2 mt-2 text-sm font-normal text-gray-900 bg-light-alvin rounded-lg hover:bg-gray-700 hover:text-white focus:bg-blue-800 focus:text-white focus:outline-none focus:shadow-outline" href="#ListRecords">ListRecords</a>   
                <a class="block px-4 py-2 mt-2 text-sm font-normal text-gray-900 bg-light-alvin rounded-lg hover:bg-gray-700 hover:text-white focus:bg-blue-800 focus:text-white focus:outline-none focus:shadow-outline" href="#ListIdentifiers">ListIdentifiers</a>  	    </div>
        </div>
    </div>
  </div>
  <span id="main-content-marker"></span>
  <main class="w-full md:w-2/4 flex-grow pt-1 px-3">
     <h1 class="text-4xl md:text-5xl mb-4 font-bold" id="home">OAI-PMH</h1>
     {% if LANGUAGE_CODE != "sv" %}
         <p class="py-2 text-sm italic">{% translate 'AI-genererad översättning' %}
     {% endif %}
     <p class="py-2 font-bold">{% translate 'Open Archives Initiative Protocol for Metadata Harvesting (OAI-PMH) är ett protokoll som utvecklats för att samla in metadatabeskrivningar av poster i ett arkiv så att tjänster kan byggas med hjälp av metadata från flera arkiv. Metadataposter från Alvin kan hämtas via protokollet' %} <a class="text-blue-800 underline" href="https://www.openarchives.org/OAI/openarchivesprotocol.html">OAI-PMH, Version 2</a>.
     <p class="py-2">{% translate 'Metadataposter från Alvin är fritt tillgängliga enligt' %} <a class="text-blue-800 underline" href="https://creativecommons.org/public-domain/cc0/">Creative Commons CC0</a>.
     <p class="py-2">{% translate 'Protokollet består av sex olika typer av förfrågningar <span class="italic">(verb)</span> som anger vilken tjänst som anropas:' %}</p>
     <h2 id="List" class="text-3xl md:text-4xl font-bold pt-4 pb-4">{% translate 'Lista över förfrågningar' %}</h2>
     <h3 id="Identify" class="text-2xl md:text-3xl font-bold pt-4">Identify</h3>
     <p class="py-2"><a class="text-blue-800 underline" href="/oai/oai?verb=Identify">https://www.alvin-portal.org/oai/oai?verb=Identify</a></p>
     <p class="py-2">{% translate 'Hämtar grundläggande information om arkivet, som dess namn, URL och protokoll-version.' %}</p>
     <h3 id="ListMetadataFormats" class="text-2xl md:text-3xl font-bold pt-4">ListMetadataFormats</h3>
     <p class="py-2"><a class="text-blue-800 underline" href="/oai/oai?verb=ListMetadataFormats">https://www.alvin-portal.org/oai/oai?verb=ListMetadataFormats</a></p>
     <p class="py-2">{% translate 'Returnerar en lista över de metadataformat som arkivet kan tillhandahålla. Poster från Alvin kan hämtas i grundformatet oai_dc (se specifikation av mappning nedan).' %}</p>
     <p class="py-2 font-bold">{% translate 'Dublin Core-mappning mot Alvins format' %}</p>
     <p class="py-2"><span class="font-semibold">&lt;dc:title&gt; {% translate 'Titel' %}</span><br>
     {% translate 'Anges som Huvudtitel : undertitel om undertitel finns. Alternativa titlar anges ej' %}.</p>
     <p class="py-2"><span class="font-semibold">&lt;dc:creator&gt; {% translate 'Upphovsman' %}</span><br>
     {% translate 'Om person eller organisation har rollen Författare. Anges som: Efternamn, Förnamn Nummer, Tillägg, Årtal eller Organisation. Underorganisation.' %}</p>
     <p class="py-2"><span class="font-semibold">&lt;dc:subject&gt; {% translate 'Ämnesord' %}</span><br>
     {% translate 'Alla typer av ämnesord i detta element utom geografiska eller platser (auktoritetsposter).' %}</p>
     <p class="py-2"><span class="font-semibold">&lt;dc:coverage&gt; {% translate 'Platsnamn' %}</span><br>
     {% translate 'Auktoritetspost för plats som ämnesord eller geografiska ämnesord.' %}</p>
     <p class="py-2"><span class="font-semibold">&lt;dc:description&gt; {% translate 'Beskrivning' %}</span><br>
     {% translate 'Beskrivning/sammanfattning.' %}</p>
     <p class="py-2"><span class="font-semibold">&lt;dc:publisher&gt; {% translate 'Förlag' %}</span><br>
     {% translate 'Förlag (impressum för äldre tryck).' %}</p>
     <p class="py-2"><span class="font-semibold">&lt;dc:contributor&gt; {% translate 'Bidragsgivare' %}</span><br>
     {% translate 'Om person eller organisation har annan roll än Författare. Anges som: Efternamn, Förnamn Nummer, Tillägg, Årtal eller Organisation. Underorganisation.' %}</p>
     <p class="py-2"><span class="font-semibold">&lt;dc:date&gt; {% translate 'Tillkomstår/utgivningsår' %}</span><br>
     {% translate 'Anges som i posterna, om specifika årtal YYYY-YYYY, annars som fritext "Visas som".' %}</p>
     <p class="py-2"><span class="font-semibold">&lt;dc:type&gt; {% translate 'Resurstyp' %}</span><br>
     {% translate 'Fasta värden på engelska enligt Library of Congress Resource Types Scheme.' %}<br>
     <a class="text-blue-800 underline" href="/vocabulary/typeOfResourceCollection">{% translate 'Lista' %}</a>
     <p class="py-2"><span class="font-semibold">&lt;dc:identifier&gt; {% translate 'Identifikator' %}</span><br>
     <ol class="py-2 list-decimal list-inside">
         <li>{% translate 'Permanent länk, urn:nbn anges som url:' %} http://urn.kb.se/resolve?urn=urn:nbn:se:alvin:portal:record-1</li>
         <li>{% translate 'Arkivinst. + samling, placering, signum. Saknas placering och signum endast namn. Ex. Uppsala universitetsbibliotek, Waller Ms se-00004.' %}</li>
     </ol>
     <p class="py-2"><span class="font-semibold">&lt;dc:language&gt; {% translate 'Språk' %}</span><br>
     {% translate 'Språk, visas som text på engelska, ex. English.' %}</p>
     <p class="py-2"><span class="font-semibold">&lt;dc:format&gt; {% translate 'Fysisk beskrivning' %}</span><br>
     <ol class="py-2 list-decimal list-inside">
         <li>{% translate 'Fälten Omfång och Storlek anges som i posterna.' %}</li>
         <li>{% translate 'Digital version + typ på engelska, ex. Digital, reformatted digital. Enbart om det finns Digitalt format, kan användas för att identifiera vilka resurser som är publicerade digitalt.' %}</li>
     </ol>
     <p class="py-2"><span class="font-semibold">&lt;dc:rights&gt; {% translate 'Rättigheter' %}</span><br>
     {% translate 'Gäller digitalt innehåll (filer). Anges på engelska enligt alternativen för Rättigheter.' %}<br>
     <a class="text-blue-800 underline" href="/vocabulary/rightsCollection">{% translate 'Lista' %}</a>
     <h3 id="ListSets" class="text-2xl md:text-3xl font-bold pt-4">ListSets</h3>
     <p class="py-2"><a class="text-blue-800 underline" href="/oai/oai?verb=ListSets">https://www.alvin-portal.org/oai/oai?verb=ListSets</a></p>
     <p class="py-2">{% translate 'Hämtar arkivets set-struktur som möjliggör gruppering av poster i delmängder. Poster från Alvin kan hämtas i begränsade set utifrån ägande institution.' %}</p>
     <p class="py-2">{% translate 'Id för setSpec motsvarar en arkivinstitutions id i Alvin. ' %}</p>
     <p class="py-2">{% translate '<span class="font-semibold">Exempel:</span> setSpec 3 innehåller alla poster från Uppsala universitetsbibliotek' %} (alvin-location:3).</p>
     <h3 id="GetRecord" class="text-2xl md:text-3xl font-bold pt-4">GetRecord</h3>
     <p class="py-2"><a class="text-blue-800 underline" href="/oai/oai?verb=GetRecord&identifier=oai%3AALVIN.org%3A1&metadataPrefix=oai_dc">https://www.alvin-portal.org/oai/oai?verb=GetRecord&identifier=oai:ALVIN.org:1&metadataPrefix=oai_dc</a></p>
     <p class="py-2">{% translate 'Hämtar en enskild, individuell metadatapost. Obligatoriska parametrar anger identifikatorn (identifier) och formatet (metadataPrefix) för de metadata som ska inkluderas i posten.' %}</p>
     <p class="py-2">{% translate 'En post <span class="italic">(record)</span> är metadata uttryckta i ett enda format. Den identifieras entydigt genom kombinationen av den unika identifikatorn för det objekt från vilket posten är tillgänglig, metadataprefixet som identifierar postens metadataformat samt postens datumstämpel. XML-kodningen av poster är organiserad i följande delar: ' %}
     <ol class="py-2 list-decimal list-inside">
         <li><span class="italic">header</span> -  {% translate 'innehåller den unika identifikatorn för objektet samt egenskaper som krävs för selektiv hämtning. Den består av följande delar:' %}
         <ul class="py-2 list-disc list-inside pl-4">
             <li><span class="italic">identifier</span> -  {% translate 'den unika identifikatorn för ett objekt i ett arkiv' %}</li>
             <li><span class="italic">datestamp</span> -  {% translate 'datumet för skapande eller ändring av posten, att användas för selektiv hämtning.' %}</li>
             <li><span class="italic">setSpec</span> -  {% translate 'set som posten ingår i, att användas för selektiv hämtning.' %}</li>
         </ul>
         </li>
         <li><span class="italic">metadata</span> -  {% translate 'en enda manifestation av metadata från ett objekt. Den innehåller ett enda rotelement, til exempel oai_dc:dc, med underelement som tillhör motsvarande metadataformat.' %}</li>
     </ol>
     <h3 id="ListRecords" class="text-2xl md:text-3xl font-bold pt-4">ListRecords</h3>
     <p class="py-2"><a class="text-blue-800 underline" href="/oai/oai?verb=ListRecords&metadataPrefix=oai_dc">https://www.alvin-portal.org/oai/oai?verb=ListRecords&metadataPrefix=oai_dc</a></p>
     <p class="py-2">{% translate 'Hämtar fullständiga metadataposter från arkivet. Om antalet hämtade poster överstiger 100 returneras en lista över de första 100 posterna + ett resumptionToken-element i slutet av svaret som används för att fortsätta hämtningen av den kompletta listan. Inga andra parametrar kan då användas. Om resumptionToken saknas är metadataPrefix en obligatorisk parameter.' %}</p>
     <h3 id="ListIdentifiers" class="text-2xl md:text-3xl font-bold pt-4">ListIdentifiers</h3>
     <p class="py-2"><a class="text-blue-800 underline" href="/oai/oai?verb=ListIdentifiers&metadataPrefix=oai_dc">https://www.alvin-portal.org/oai/oai?verb=ListIdentifiers&metadataPrefix=oai_dc</a></p>
     <p class="py-2">{% translate 'Som ListRecords men hämtar endast <span class="italic">headers</span> (identifikator, set och datumstämpel), inte de fullständiga metadataposterna.' %}</p>
  </main>
  <div class="w-fixed w-full md:w-1/4 flex-shrink flex-grow-0 px-4">
    <div class="sticky top-0 p-4 bg-off-white rounded-xl w-full h-full">
        <div class="sticky top-0 p-4 bg-off-white rounded-xl w-full h-full">
            <div class="flex justify-center py-4"> 
                <a href="https://www.openarchives.org/">
                    <img class="w-48 object-center" alt="Open Archives Initiative" src="/static/img/OA200.gif">
                </a>
            </div>
            <div class="flex justify-center py-4"> 
                <a href="https://creativecommons.org/">
                    <img class="w-48 object-center" alt="Creative Commons" src="/static/img/cc.logo.svg">
                </a>
            </div>
      </div>
    </div>    
  </div>
</div>
{% endblock %}