{% extends "userguidemaster.html" %}
{% load static %}
{% load i18n %}
<title>{% block title %}Alvin - {% translate 'Egenskaper' %}{% endblock %}</title>
{% block content %}
<div class="bg-white dark:bg-gray-800 dark:text-white flex-grow w-full flex flex-col sm:flex-row flex-wrap sm:flex-nowrap py-4">
    <span id="main-content-marker"></span>
    <main class="w-full md:w-3/4 pt-1 px-3">
	{{ properties|safe }}
    </main>
    <div class="w-fixed w-full md:w-1/4 flex-shrink flex-grow-0 px-4">
        <div class="sticky top-0 p-4 bg-off-white dark:bg-gray-700 rounded-xl w-full h-full">
            <div class="flex flex-col justify-center">  
               {% include "vocabulary/partials/_standards.html" %}  
            </div>
	</div>
    </div>
</div>
{% endblock %}