i.fa-home {
font-size:17px
}

i.fa-info-circle {
font-size:17px
}

i.fa-users {
font-size:13px
}

i.fa fa-university {
font-size:13px
}

i.fa-copyright {
font-size:17px
}

i.fa-question-circle {
font-size:17px
}

i.fa-envelope-o {
font-size:17px
}

i.fa-globe {
font-size:17px
}

i.fa-photo {
font-size:13px
}

i.fa-file-text {
font-size:16px
}

i.fa-square {
font-size:16px
}

i.fa-music {
font-size:16px
}

i.fa-map {
font-size:13px
}

i.fa-folder {
font-size:13px
}

i.fa-random {
font-size:11px
}

i.fa-volume-up {
font-size:12px
}

i.fa-video-camera {
font-size:12px
}

i.fa-database {
font-size:12px
}

i.fa fa-envelope-o {
font-size:16px
}

i.fa fa-globe {
font-size:16px
}


