/*
* This is where you can configure the folders that Tailwind will scan.
* 
* For detailed documents, check the Tailwind docs at:
*
* https://tailwindcss.com/docs/detecting-classes-in-source-files#explicitly-registering-sources
*
* This default configuration will scan all folder in your root project directory.
*
* Here is an example configuration that will only scan your templates/ folder:
* 
* @import "tailwindcss" source(none);
*
* @source "../../../templates";
*/

@import "tailwindcss";
@import "tify/dist/tify.css";
@source "../../../templates";
@source "../../../**/*.html";
@source "../../../**/*.py";
@source "../../../**/*.{js,ts,tsx}";


/*
If you would like to customise you theme, you can do that here too.
https://tailwindcss.com/docs/theme

*/

@font-face {
  font-family: "Universalis";
  src: url("/static/fonts/UniversalisADFStd-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSans";
  src: url("/static/fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {

  /* Fonts */
  --font-universalis: "Universalis", ui-sans-serif, system-ui, sans-serif;
  --font-sans: "NotoSans", ui-sans-serif, system-ui, sans-serif;
  
  /* Colors */
  --color-link: #bf7f7f;
  --color-alvin-green: #7fbfa7;
  --color-alvin-orange: #bf7125;
  --color-alvin-grey: #f5f5f5;

}

html { @apply font-sans; }

.md-row {
  @apply flex justify-start w-full text-xl leading-7 break-words py-2
         flex-wrap md:flex-nowrap hover:bg-gray-300;
}

.md-label {
  @apply w-full md:w-[31%] font-semibold;
}

.md-value {
  @apply w-full md:w-[55%];
}

@layer components {

  .alvin-viewer-wrapper {
  }

  .clover-viewer {
    @apply flex flex-col;
  }

  .clover-viewer-header {
  }

  .clover-viewer-content {
   
  }

  .clover-viewer-painting {
     @apply border-y-4 border-black;
  }

  .clover-viewer-media-wrapper {
  }
}

a { 
  @apply text-link;
}

.topnav a {
   @apply text-inherit font-universalis text-black dark:text-white hover:text-alvin-green;
}

.sidenav a {
   @apply text-inherit font-universalis text-black dark:text-white hover:text-alvin-green;
}

[x-cloak] { display: none !important; }

@layer utilities {
  .scrollbar-alvin-x {
    /* Firefox */
    scrollbar-width: auto;
    scrollbar-color: theme(colors.alvin.green) theme(colors.alvin.grey);

    /* WebKit */
    &::-webkit-scrollbar { height: 0.25rem; } /* h-1 */
    &::-webkit-scrollbar-track { background: theme(colors.alvin.grey); }
    &::-webkit-scrollbar-thumb {
      background: theme(colors.alvin.green);
      border-width: 8px;            /* border-8 */
      border-color: black;          /* border-black */
      border-style: solid;
      border-radius: 0.125rem;      /* rounded-sm */
    }
  }
}

/* 
Tailwind plugins
https://tailwindcss.com/docs/functions-and-directives#plugin-directive

*/

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/aspect-ratio";