@import "tailwindcss";
@source "../../../alvin_info/templates/";
@source "../../../alvin_viewer/templates/alvin_viewer";
@source "../../../alvin_viewer/templates/alvin_viewer/_partials";
@source "../../../vocabulary/templates/vocabulary";
@source "../../../alvin_search/templates/alvin_search";
@source "../../../templates/";

@font-face {
    font-family: 'Universalis';
    font-style: normal;
    font-weight: normal;
    src: local('Universalis ADF Std Regular'), url('UniversalisADFStd-Bold.woff') format('woff');
}


@font-face {
  font-family: "NotoSans";
  src: url("/static/fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme { 
    --color-alvin: #7fbfa7;
    --color-dark-alvin: #355F51;
    --color-light-alvin: #BAE2B6;
    --color-off-white: #faf9f6;
}

html {
  font-family: NotoSans;
  scrollbar-gutter: stable;
}

body {
    overflow-y: scroll;
}



