{% extends 'base.html' %}

{% load static %}

{% block head %}
<title>Alvin - Platser</title>
{% endblock %}

{% block content %}

<main class="mt-20">
    <nav class="text-sm ml-4">
      <a href="{% url 'start' %}" class="text-alvinGreen hover:text-alvinOrange">..</a>
      <span class="mx-1">/</span>
      <span>Platser</span>
    </nav>
    <div class="flex justify-center ">
        <!-- Left Sidebar for Filtering Options -->
        <div class="w-1/5 mt-4 px-4">
            <h2 class="text-xl font-bold mb-4">Filter</h2>
            <!-- Filter options go here -->
            <form method="get" action=".">
                <div>
                    <label for="country" class="block text-gray-700">Land</label>
                    <select id="country" name="country" class="block w-full mt-1 rounded-md border-gray-300">
                      <option value="">Alla</option>
                      {% for country in countries %}
                          <option value="{{ country }}" {% if country == selected_country %}selected{% endif %}>{{ country }}</option>
                      {% endfor %}
                    </select>
                </div>
                <button type="submit" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded-md">Filter</button>
            </form>
        </div>

        <!-- Main Content for Search Results -->
        <div class="w-3/5 border-x-2">
            <article class="mt-4 px-4">
                {{ metadata.fromNo.0 }}
                {{ metadata.toNo.0 }}
                {{ metadata.totalNo.0 }}
                <br>
                <ul class="place-list">
                    {% for place in page_obj %}
                    <li class="mb-4">
                        {% for authority_name in place.authority_names %}
                        <a href="{% url 'alvin_place' place.id %}" class="text-alvinOrange hover:underline">{{ authority_name }}</a>
                        <br />
                        {% endfor %}
                        {% if place.variant_names %}
                        <strong>Alternativa namnformer</strong>
                        <br />
                        {% for variant_name in place.variant_names %}
                        {{ variant_name.0 }} ({{ variant_name.1 }})
                        <br />
                        {% endfor %}
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                <div class="pagination">
                    <span class="step-links flex justify-between mt-4">
                        {% if page_obj.has_previous %}
                        <a href="?page=1{% if selected_country %}&country={{ selected_country }}{% endif %}" class="text-blue-500 hover:underline">&laquo;</a>
                        <a href="?page={{ page_obj.previous_page_number }}{% if selected_country %}&country={{ selected_country }}{% endif %}" class="text-blue-500 hover:underline">&lsaquo;</a>
                        {% endif %}

                        <span class="current">
                            Sida {{ page_obj.number }} av {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}{% if selected_country %}&country={{ selected_country }}{% endif %}" class="text-blue-500 hover:underline">&rsaquo;</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}{% if selected_country %}&country={{ selected_country }}{% endif %}" class="text-blue-500 hover:underline">&raquo;</a>
                        {% endif %}
                    </span>
                </div>
                <div class="bg-gray-200 p-4 mt-4 rounded">{{ xml }}</div>
            </article>
        </div>

        <!-- Right Sidebar for Added Records of Interest (Placeholder for now) -->
        <div class="w-1/5 mt-4 px-4">
            <h2 class="text-xl font-bold mb-4">Grejer goes here</h2>
            <!-- Content for added records goes here -->
        </div>
    </div>
</main>

{% endblock %}