{% extends 'base.html' %}

<!-- LOCALIZATION -->
{% load i18n %}

<!-- STATIC -->
{% load static %}

{% block head %}
    <title>{% translate 'Alvin - Platser' %}</title>
{% endblock %}

{% block content %}
<main class="flex bg-alvinGrey pt-20 px-10 border-4 border-black">
    
    <!-- Resultatlista  -->
    <section class="w-full" x-data="{showFilter: false}">
        
        <!-- Resultaträkning och filtreringsknapp -->
        <aside class="flex pb-4 justify-between">
            <p class="text-gray-600"><strong>{% translate 'Träff' %} {{ metadata.fromNo.0 }}-{{ metadata.toNo.0 }} {% translate 'av' %} {{ metadata.totalNo.0 }}</strong></p>
            
            <button class="flex align-top">
                <img @click="showFilter = !showFilter" class="" src="/static/img/nav/filter-solid.svg" x-show="!showFilter" x-cloak>
                <img @click="showFilter = !showFilter" src="/static/img/nav/filter.svg" x-show="showFilter" x-cloak>
            </button>
        </aside>

        <!-- Innehåll resultatlista -->
        <section class="flex gap-5">
            <!-- Lista över platser i träfflistan -->
            <ul class="w-full space-y-1">
                {% for place in page_obj %}
                    <li class="p-4 border-4 border-black bg-[#fcfcfc] shadow-sm hover:shadow-lg transition-shadow ease-in-out duration-150">
                        <!-- Place Names and Icon -->
                        <div class="flex items-center overflow-clip">
                            <img class="w-5 h-5 mr-2" src="/static/img/authorityTypes/place.svg" alt="Map marker">
                            <a href='{{ place.id }}' class="text-alvinOrange text-2xl font-semibold">
                                {% for authority_name in place.authority_names %}
                                    {{ authority_name.0 }}</a>
                                {% endfor %}
                        </div>

                        <!-- Variant Names (if available) -->
                        {% if place.variant_names %}
                            <div class="mt-2">
                                <strong class="block text-gray-700">{% translate 'Alternativa namnformer' %}</strong>
                                <ul class="list-none text-gray-600">
                                    {% for variant_name in place.variant_names %}
                                        <li>{{ variant_name.0 }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            
            
            
            <!-- Filtrering -->
            <aside class="w-3/12 border-4 border-black text-center" x-show="showFilter" x-cloak x-transition>
                <h2 class="text-2xl font-universalis font-bold py-4 m-auto border-b-4 border-black bg-alvinGreen">Filter</h2>
                <form method="get" action=".">
                    <div class="mb-4">
                        <label for="country" class="block text-gray-700"><strong>{% translate 'Land' %}</strong></label>
                        <select id="country" name="country" class="w-full mt-1 border-black focus:border-alvinOrange focus:outline-none focus:ring-0 shadow-sm hover:shadow-md transition-shadow duration-200 ease-in-out">
                            <option value="">{% translate 'Alla' %}</option>
                            {% for country in countries %}
                                <option value="{{ country }}" {% if country == selected_country %}selected{% endif %}>{{ country }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="bg-black text-white px-4 py-2 hover:bg-alvinOrange transition">Filter</button>
                </form>
            </aside>
        </section>

        <!-- Paginering -->
        <nav class="pagination my-8">
            <ul class="flex items-center justify-center space-x-2">
                {% if page_obj.has_previous %}
                    <!-- First Page Button -->
                    <li>
                        <a href="?page=1{% if selected_country %}&country={{ selected_country }}{% endif %}"
                        class="font-universalis text-xl inline-flex items-center px-3 py-1 border-4 border-black bg-white hover:bg-gray-100 hover:text-gray-700"
                        aria-label="First page">
                        &laquo;
                        </a>
                    </li>
                    <!-- Previous Page Button -->
                    <li>
                        <a href="?page={{ page_obj.previous_page_number }}{% if selected_country %}&country={{ selected_country }}{% endif %}"
                        class="font-universalis text-xl inline-flex items-center px-3 py-1 border-4 border-black bg-white hover:bg-gray-100 hover:text-gray-700"
                        aria-label="Previous page">
                        &lsaquo;
                        </a>
                    </li>
                {% endif %}

                <!-- Page Numbers -->
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <!-- Current Page -->
                        <li>
                            <span class="font-universalis text-xl inline-flex items-center px-3 py-1 border-4 border-black text-white bg-alvinGreen">
                                {{ num }}
                            </span>
                        </li>
                    {% else %}
                        <!-- Other Pages -->
                        <li>
                            <a href="?page={{ num }}{% if selected_country %}&country={{ selected_country }}{% endif %}"
                            class="font-universalis text-xl inline-flex items-center px-3 py-1 border-4 border-black bg-white hover:bg-gray-100 hover:text-gray-700"
                            aria-label="Page {{ num }}">
                            {{ num }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <!-- Next Page Button -->
                    <li>
                        <a href="?page={{ page_obj.next_page_number }}{% if selected_country %}&country={{ selected_country }}{% endif %}"
                        class="font-universalis text-xl inline-flex items-center px-3 py-1 border-4 border-black bg-white hover:bg-gray-100 hover:text-gray-700"
                        aria-label="Next page">
                        &rsaquo;
                        </a>
                    </li>
                    <!-- Last Page Button -->
                    <li>
                        <a href="?page={{ page_obj.paginator.num_pages }}{% if selected_country %}&country={{ selected_country }}{% endif %}"
                        class="font-universalis text-xl inline-flex items-center px-3 py-1 border-4 border-black bg-white hover:bg-gray-100 hover:text-gray-700"
                        aria-label="Last page">
                        &raquo;
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>

        <!-- Höger sidomeny för filtrering -->
        
        </section>
    </div>
</main>
{% endblock %}