{% extends 'base.html' %}

<!-- LOCALIZATION -->
{% load i18n %}

<!-- STATIC -->
{% load static %}

{% block head %}
    <title>{% translate 'Alvin - Platser' %}</title>
{% endblock %}

{% block content %}
<main class="bg-alvinGrey pt-20">
    <!-- Breadcrumb Navigation -->
    <nav class="text-sm ml-4">
        <a href="{% url 'start' %}" class="text-alvinGreen hover:text-alvinOrange">..</a>
        <span class="mx-1">/</span>
        <span>{% translate 'Platser' %}</span>
    </nav>
    <div class="pt-6 pb-2 pl-4">
        <p class="text-gray-600"><strong>{% translate 'Träff' %} {{ metadata.fromNo.0 }}-{{ metadata.toNo.0 }} {% translate 'av' %} {{ metadata.totalNo.0 }}</strong></p>
    </div>
    <div class="flex justify-center bt-2">
        
        <!-- Innehåll resultatlista -->
        <section class="lg:w-5/6 px-4">
            <!-- Antal träffar -->

            <!-- Lista över platser i träfflistan -->
            <ul class="w-full space-y-1">
                {% for place in page_obj %}
                    <li class="p-4 bg-white rounded-md shadow-sm hover:shadow-md transition-shadow ease-in-out duration-150">
                        <!-- Place Names and Icon -->
                        <div class="flex items-center mb-2">
                            <img class="w-5 h-5 mr-2" src="/static/img/authorityTypes/map-pin.svg" alt="Globe with marker">
                            <a href='{{ place.id }}' class="text-alvinOrange text-2xl font-semibold">
                                {% for authority_name in place.authority_names %}
                                    {{ authority_name.0 }}</a>
                                {% endfor %}
                        </div>

                        <!-- Variant Names (if available) -->
                        {% if place.variant_names %}
                            <div class="mt-2">
                                <strong class="block text-gray-700">{% translate 'Alternativa namnformer' %}</strong>
                                <ul class="list-none text-gray-600">
                                    {% for variant_name in place.variant_names %}
                                        <li>{{ variant_name.0 }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

            <!-- Pagination -->
            <nav class="pagination mt-6">
                <ul class="flex items-center justify-center space-x-2">
                    {% if page_obj.has_previous %}
                        <!-- First Page Button -->
                        <li>
                            <a href="?page=1{% if selected_country %}&country={{ selected_country }}{% endif %}"
                            class="inline-flex items-center px-3 py-1 border border-gray-300 rounded-lg text-gray-500 bg-white hover:bg-gray-100 hover:text-gray-700"
                            aria-label="First page">
                            &laquo;
                            </a>
                        </li>
                        <!-- Previous Page Button -->
                        <li>
                            <a href="?page={{ page_obj.previous_page_number }}{% if selected_country %}&country={{ selected_country }}{% endif %}"
                            class="inline-flex items-center px-3 py-1 border border-gray-300 rounded-lg text-gray-500 bg-white hover:bg-gray-100 hover:text-gray-700"
                            aria-label="Previous page">
                            &lsaquo;
                            </a>
                        </li>
                    {% endif %}

                    <!-- Page Numbers -->
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <!-- Current Page -->
                            <li>
                                <span class="inline-flex items-center px-3 py-1 border border-alvinGreen text-white bg-alvinGreen rounded-lg">
                                    {{ num }}
                                </span>
                            </li>
                        {% else %}
                            <!-- Other Pages -->
                            <li>
                                <a href="?page={{ num }}{% if selected_country %}&country={{ selected_country }}{% endif %}"
                                class="inline-flex items-center px-3 py-1 border border-gray-300 rounded-lg text-gray-500 bg-white hover:bg-gray-100 hover:text-gray-700"
                                aria-label="Page {{ num }}">
                                {{ num }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <!-- Next Page Button -->
                        <li>
                            <a href="?page={{ page_obj.next_page_number }}{% if selected_country %}&country={{ selected_country }}{% endif %}"
                            class="inline-flex items-center px-3 py-1 border border-gray-300 rounded-lg text-gray-500 bg-white hover:bg-gray-100 hover:text-gray-700"
                            aria-label="Next page">
                            &rsaquo;
                            </a>
                        </li>
                        <!-- Last Page Button -->
                        <li>
                            <a href="?page={{ page_obj.paginator.num_pages }}{% if selected_country %}&country={{ selected_country }}{% endif %}"
                            class="inline-flex items-center px-3 py-1 border border-gray-300 rounded-lg text-gray-500 bg-white hover:bg-gray-100 hover:text-gray-700"
                            aria-label="Last page">
                            &raquo;
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>

            <!-- XML -->
            <div class="bg-gray-200 p-4 mt-4 rounded">{{ xml }}</div>
        </section>

        <!-- Höger sidomeny för filtrering -->
        <aside class="hidden lg:block lg:w-1/6 px-4">
            <h2 class="text-xl font-bold mb-4">Filter</h2>
            <form method="get" action=".">
                <div class="mb-4">
                    <label for="country" class="block text-gray-700"><strong>{% translate 'Land' %}</strong></label>
                    <select id="country" name="country" class="w-full mt-1 rounded-md border-gray-300 focus:border-alvinOrange focus:outline-none focus:ring-0 shadow-sm hover:shadow-md transition-shadow duration-200 ease-in-out">
                        <option value="">{% translate 'Alla' %}</option>
                        {% for country in countries %}
                            <option value="{{ country }}" {% if country == selected_country %}selected{% endif %}>{{ country }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="bg-black text-white px-4 py-2 rounded-md hover:bg-alvinOrange transition">Filter</button>
            </form>
        </aside>
    </div>
</main>
{% endblock %}